.electrolaboratory-differences {
	@include fluid-property(gap, 40, 60);

	&__wrapper {
		background-color: var(--primary-alt-color);
	}

	&__card-container {
		@include flex-direction(row);
		@include adaptive-property(gap, 18, 40);
	}

	&__card {
		width: 100% !important;
		max-width: 90% !important;

		flex-shrink: 1 !important;
		flex-grow: 0 !important;

		.h3 {
		}
	}
}
