.electrolaboratory-director {
	margin-bottom: -120px;

	@include tablet-l {
		margin-bottom: 0;
	}

	@include mobile-l {
		padding: 0;
		width: auto;
	}

	&__main {
        // @include fluid-property(margin-top, -60, -120);
		gap: 0;
        align-items: center;
	}

	&__img {
		width: 40%;

        @include tablet-l {
            width: 100%;
            max-height: 500px;
        }
	}

	&__content {
		@include flex-direction;
		@include fluid-property(gap, 20, 40);
		@include fluid-property(padding-inline, 50, 100);
		padding-block: 40px;
		width: 60%;

        @include tablet-l {
            width: 100%;
        }
	}

	&__text {
		@include fluid-text(16, 32);
		line-height: 1.5;

		&--small {
			@include fluid-text(16, 24);
		}
	}

	&__button {
		@include fluid-property(margin-top, 0, 20);
		width: fit-content;
	}
}
