.electrolaboratory-specialists {
    @include flex-direction;
    @include fluid-property(gap, 40, 80);
    overflow: hidden;
 
    &__card-container {
        @include flex-direction(row, 40px);

        display: grid;
        grid-template: 1fr / repeat(3, 1fr);
    }

    &__card {
        @include flex-direction;
        height: auto;

        @include tablet-l {
            max-width: 80%;
        }
    }

    &__img {
        @include fluid-property(border-radius, 20, 30);
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__info {
        @include flex-direction;
        @include fluid-property(gap, 20, 40);
        @include fluid-property(margin-top, 30, 60);
    }

    &__title-container {
        @include flex-direction($gap: 5px);
    }

    &__span,
    &__text {
        text-transform: uppercase;
    }

    &__span:nth-child(1),
    &__text {
        width: max-content;
    }

    &__span {
        @include fluid-text(12, 20);
        color: var(--thirdy-color);
    }

    &__text {
        @include fluid-text(13, 24);
    }
}