.my-button {
	@include flex-center(row, 15px);
	@include fluid-text(14, 18); 
	@include fluid-property(height, 55, 60);

	justify-content: space-between;

	border-radius: $border-radius;

	color: var(--secondary-color);
	transition-duration: 0.3s;

	padding: 5px;

	@include tablet {
	}

	@include mobile-l {
		font-size: 14px;
	}

	&--red {
		background: linear-gradient(90deg, #ac262f 0%, #d12d23 100%);

		&:hover {
			background: linear-gradient(90deg, rgba(172, 38, 47, 0.6) 0%, rgba(209, 45, 35, 0.6) 100%);
		}
	}

	&--blue {
		background: linear-gradient(90.47deg, #1cabe7 0.38%, #006aab 99.59%);

		&:hover {
			color: var(--primary-alt-color);
			background: rgba(90, 197, 239, 0.5);

			& i::before {
				color: var(--primary-alt-color);
			}
		}
	}

	&--transparent {
		background-color: transparent;
		border: 2px solid rgba(255, 255, 255, 0.8);
	}
}
