.my-checkbox {
	@include flex-center;

	border: 2px solid var(--thirdy-color);
	border-radius: 10px;

	width: fit-content;
	height: fit-content;

    padding: 9px 7px;

	& i::before {
		font-size: clamp(12px, #{calc(18 * 100 / 1920)}vw, 18px);
	}
	
	@include mobile-l {
		padding: 5px 4px;

		& i::before {
			font-size: 12px;
		}
	}
}
