.input {
	background-color: transparent;
	color: var(--primary-color);
	width: 100%;
	height: 100%;

	&::placeholder {
		color: var(--primary-color);
	}

	&__wrapper {
		@include flex-center(row, 5px);
		@include fluid-property(height, 45, 60);
		justify-content: space-between;

		flex-shrink: 0;
		flex-grow: 1;

		background-color: transparent;
		border: 1px solid var(--primary-color);
		border-radius: $border-radius;

		padding: 5px 12px;
	}

	&__button-wrapper {
		@include flex-center;

		border-left: 1px solid var(--primary-color);

		height: 100%;
		padding-left: 16px;

		position: relative;
	}

	&__button {
		@include flex-center;
		width: 24px;
		aspect-ratio: 1;
		margin-right: 14px;

		&:hover i::before {
			color: var(--thirdy-alt-color);
		}
	}
}
