.modal {
	@include flex-direction($gap: 30px);
	@include scrollbar($bg-thumb-color: #a8a8a8);
	@include fluid-property(padding, 50, 60);

	background-color: var(--white-color);
	border-radius: $border-radius-large;

	position: relative;
	max-width: 50%;

	&--small {
		width: 30%;
	}

	@include desktop {
		max-width: 80%;

		&--small {
			width: 60%;
		}
	}

	@include tablet {
		border-radius: 0;
		max-height: 100%;
		max-width: 100%;
		width: 100%;
		height: 100%;
	}

	&__overlay {
		@include hidden;

		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-color: rgba(35, 58, 76, 0.8);

		z-index: 1010;
		overflow-y: scroll;

		&--show {
			visibility: visible;
			opacity: 1;
		}
	}

	&__wrapper {
		@include flex-center;
		width: 100%;
		min-height: 100%;
		padding-block: 5%;

		@include tablet {
			padding-block: 0;
			height: 100%;
		}
	}

	&__close {
		@include flex-center;
		@include fluid-scales(32, 60);
		@include fluid-property(border-radius, 5, 15);

		align-self: flex-end;

		background-color: transparent;
		border: 2px solid var(--white-color);

		position: fixed;
		top: 10%;
		right: 10%;

		z-index: 1011;

		@include desktop-s {
			top: 5%;
			right: 5%;
		}

		@include tablet-l {
			@include fluid-scales(32, 50);
		}

		@include tablet {
			border-color: var(--thirdy-alt-color);
			position: static;
			margin-right: 0;

			i::before {
				color: var(--thirdy-alt-color);
			}
		}
	}

	&__title {
		@include fluid-text(28, 32);
		color: var(--primary-alt-color);
		text-align: center;
	}

	&__input-container {
		@include grid(auto, repeat(2, 1fr), 15px);

		&--small {
			grid-template-columns: 1fr;
		}

		@include tablet {
			grid-template-columns: 1fr;
		}
	}

	&__input-wrapper {
		position: relative;
	}

	&__input {
		border: 1px solid rgba(90, 197, 239, 0.5);
		border-radius: $border-radius;
		color: var(--thirdy-alt-color);

		height: 59px;
		padding: 23px 30px;

		width: 100%;

		&::placeholder {
			@include fluid-text(14, 18);
			color: var(--thirdy-alt-color);
		}

		&--date {
			border: 2px solid var(--thirdy-color);
			position: relative;

			&:focus {
				& + .modal__input-hint {
					@include visible;
				}
			}
		}
	}

	&__input-hint {
		@include hidden;
		position: absolute;
		top: 100%;
	}

	&__input-icon {
		position: absolute;
		top: 50%;
		right: 20px;
		translate: 0 -50%;
	}

	&__textarea {
		@include scrollbar($width: 5px);
		resize: vertical;
		max-height: 250px;
	}

	&__button-container {
		@include grid(auto, repeat(2, 1fr), 15px);

		&--small {
			grid-template-columns: 1fr;
		}

		@include tablet {
			grid-template-columns: 1fr;
		}
	}

	&__button-wrapper {
		@include flex-direction($gap: 7px);
	}

	&__span {
		@include flex-direction(row, 15px);
		@include fluid-text(14, 18);

		align-items: center;
		color: var(--primary-alt-color);
		padding: 10px 30px;
	}

	&__button {
		@include flex-center(row, 20px);

		border: 2px solid var(--thirdy-alt-color);
		border-radius: $border-radius;
		color: var(--thirdy-alt-color);

		height: 60px;
		padding-inline: 10px;

		i::before {
			color: var(--thirdy-color);
		}
	}

	&__text {
		@include fluid-text(14, 16);
		color: var(--thirdy-alt-color);

		@include tablet {
			text-align: center;
		}
	}

	&__submit-container {
		@include flex-direction($gap: 20px);
	}

	&__link {
		border: none;
		color: var(--thirdy-color);
		text-decoration: underline;
		text-decoration-color: inherit;
	}

	&__submit-button {
		width: 100%;
		justify-content: center;
	}

	&__hint {
		@include hidden;

		background-color: rgba(0, 106, 171, 1);
		color: var(--white-color);
		font-size: 14px;
		font-style: normal;
		text-wrap: nowrap;

		border-radius: $border-radius;

		position: absolute;
		top: -13px;
		right: -6px;
		translate: 100% -100%;

		padding: 23px 25px;
	}

	&__info-icon {
		position: relative;

		&:hover {
			.modal__hint {
				@include visible;
			}
		}
	}
}
