.select {
	@include flex-center;
	background: linear-gradient(90.47deg, #1cabe7 0.38%, #006aab 99.59%);
	border-radius: $border-radius;

	height: 56px;
	width: 100%;

	position: relative;

	&--active {
		border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;

		.select__icon {
			rotate: 180deg;
		}

		.select__list {
			visibility: visible;
			opacity: 1;
		}
	}

	&__text {
		&::placeholder {
			color: inherit;
		}
	}

	&__content {
		@include flex-direction(row, 10px);
		justify-content: space-between;
		align-items: center;
		height: 100%;
		width: 100%;
		padding-inline: 30px;
	}

	&__icon {
		@include flex-center;

		transform-origin: 50% 50%;
		transition-duration: 0.3s;

		&::before {
			font-size: 10px;
		}

		&--small {
			&::before {
				font-size: 5px;
			}
		}
	}

	&__list {
		@include flex-direction;
		background-color: #5ac5ef;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;

		list-style: none;

		position: absolute;
		top: 100%;
		translate: 0 0;

		width: max-content;
		min-width: 100%;

		overflow: hidden;
		z-index: 100;

		visibility: hidden;
		opacity: 0;
		transition-duration: 0.3s;
	}

	&__item {
		color: var(--primary-color);

		&:hover {
			.select__button {
				border-radius: $border-radius;
				background-color: #1aa7e3;
			}
		}
	}

	& &__button {
		color: var(--primary-color);
		height: 57px;
		width: 100%;
		padding-inline: 25px;
		text-align: left;
		transition-duration: 0.3s;
	}
}
