.table {
	border-collapse: separate;
	border-spacing: 0;
	border: none;
	width: 100%;

	& * {
		color: var(--thirdy-alt-color);
	}

	&__select-container {
		display: contents;

		.select__list {
			min-width: fit-content;
		}
	}

	&__container {
		margin-top: 65px;
		position: relative;
		overflow-x: clip;

		@include mobile-l {
			padding: 0;
			width: auto;
		}
	}

	&__wrapper {
		@include fluid-property(border-radius, 20, 30);
		@include scrollbar;
		overflow: auto;
	}

	&__body {
		.table__row {
			&:nth-child(even) {
				background-color: #eaf8fd;
			}

			&:nth-child(odd) {
				background-color: var(--white-color);
			}
		}
	}

	&__header {
		.table__row {
			&--blue {
				background-color: var(--thirdy-alt-color) !important;

				& * {
					color: var(--white-color) !important;
				}
			}
		}

		.table__row:nth-child(2) {
			background-color: var(--thirdy-alt-color);

			& * {
				color: var(--white-color);
			}
		}
	}

	&__th,
	&__cell {
		@include fluid-property(padding-left, 50, 120);
		padding-right: 10px;
		text-align: left;
	}

	&__th {
		@include fluid-text(16, 20);
		@include fluid-property(padding-bottom, 22, 29);
		font-weight: 700;
		padding-top: 24px;

		.select__text {
			min-width: 50px;
		}
	}

	&__body {
		.table__cell {
		}
	}

	&__row {
		&--header {
			@include flex-direction(row);
			@include fluid-property(border-radius, 20, 30);
			background-color: var(--white-color);
		}
	}

	&__cell {
		@include fluid-text(14, 18);
		@include fluid-property(padding-block, 20, 30);

		&:nth-child(1) {
			border-right: 1px solid var(--thirdy-alt-color);
		}

		&:nth-child(2) {
			@include fluid-property(padding-left, 20, 120);
		}
	}

	&__select-list {
		// top: 83px;
	}

	&__list {
		@include flex-direction($gap: 18px);
	}

	&__list-item {
	}

	&__select {
		background: none;
		width: 100%;
		height: 100%;

		position: static;

		.select__content {
			padding-inline: 0;

			.select__text {
				color: var(--thirdy-alt-color);
				font-size: 20px;
				font-weight: 700;
				width: 100%;
			}

			.select__icon {
				&::before {
					color: var(--link-hover-color);
				}
			}
		}

		.select__list {
			* {
				font-size: 18px !important;
			}
		}
	}
}
