.about-production-about {
	overflow: hidden;

	@include tablet-l {
		margin-top: calc(90px + 90px);
	}

	@include mobile-l {
		margin-top: 0;
		padding: 0;
		width: auto;
	}

	&__content {
		@include flex-direction($gap: 40px);

		background-color: #034671;

		padding: 60px 40px;
		position: relative;

		@include mobile-l {
			padding-top: 220px;
		}
	}

	&__img {
		position: absolute;
		top: 50%;
		right: 0;
		translate: 25% -45%;	

		height: 175%;
		width: fit-content;
		object-fit: cover;
		max-width: none;

		@include mobile-l {
			height: 110%;
			translate: 50% -50%;
		}
	}

	&__title,
	&__text {
		z-index: 2;
	}

	&__title {
		font-size: clamp(24px, #{calc(70 * 100 / 1920)}vw, 70px);
		color: var(--thirdy-color);
	}

	&__text {
		font-size: clamp(16px, #{calc(48 * 100 / 1920)}vw, 48px);
	}

	&__button-container {
		@include flex-direction(row, 50px);
		@include fluid-property(gap, 8, 50);
		z-index: 2;

		@include tablet-l {
			gap: 8px;
			flex-wrap: wrap-reverse;
		}
	}

	&__button {
		padding-inline: 40px;

		@include mobile-l {
			width: 100%;
		}
	}
}
