.about-production-director {
	@include flex-direction($gap: 80px);

	position: relative;

	@include mobile-l {
		padding: 0;
	}

	&__header {
		@include flex-direction(row, 10px);
		justify-content: space-between;
		align-items: center;

		@include mobile-l {
			@include container;
		}
	}

	&__button {
		padding-inline: 50px;

		i::before {
			color: var(--white-color);
		}
	}

	&__main {
		@include flex-direction(row, 70px);
		justify-content: space-between;

		@include tablet-l {
			gap: 0;
			flex-wrap: wrap;
			justify-content: center;
		}
	}

	&__img {
		align-self: flex-end;

		height: fit-content;
		width: 50%;
		object-fit: contain;
		translate: 0 120px;

		@include tablet-l {
			translate: 0;
		}
	}

	&__content {
		@include flex-direction($gap: 15px);
		@include fluid-property(border-radius, 20, 30);
		@include fluid-property(padding-block, 40, 60);
		@include fluid-property(padding-inline, 48, 100);

		background-color: var(--primary-alt-color);

		height: fit-content;

		width: 50%;

		@include tablet-l {
			width: 100%;
		}
	}

	&__text {
		@include fluid-text(18, 32);
		@include fluid-property(line-height, 27, 48);

		&--small {
			@include fluid-text(16, 20);
			@include fluid-property(line-height, 24, 30);
		}
	}
}
