.about-production-politics {
	@include flex-direction;
	@include fluid-property(gap, 45, 100);

	&__header {
		@include flex-center;

		justify-content: space-between;
	}

	&__main {
		@include flex-direction;
		@include fluid-property(gap, 12, 30);
	}

	&__title {
		@include fluid-text(14, 30);
		line-height: 1;
		
	}

	&__input-container {
		@include flex-direction(row);
		@include fluid-property(gap, 20, 35);

		align-items: center;
	}
}
