<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>РЭЩ | Карточка оборудования</title>
		<link rel="stylesheet" href="../styles/style.scss" />
	</head>
	<body>
		<div class="actions" id="actions">
			<button class="actions__close hidden-mobile-l" id="closeActions">
				<i class="d_icon d_icon-close"></i>
			</button>
			<div class="actions__button-container">
				<button class="actions__button">
					<i class="d_icon d_icon-calculator"></i>
					<p class="actions__text">Запросы на<br />расчет</p>
				</button>
				<button class="actions__button actions__button--dark" id="callbackModalOpenButton">
					<i class="d_icon d_icon-telephone"></i>
					<p class="actions__text">Обратный<br />звонок</p>
				</button>
				<button class="actions__button">
					<i class="d_icon d_icon-whatsapp"></i>
					<p class="actions__text">Написать в<br />WhatsApp</p>
				</button>
				<button class="actions__button hidden-mobile-l">
					<i class="d_icon d_icon-telegram"></i>
					<p class="actions__text">Телеграмм<br />канал РЭЩ</p>
				</button>
			</div>
		</div>

		<div class="header__wrapper">
			<header class="container header header--white" id="header">
				<div class="space-between header__top hidden-tablet-l">
					<a href="/" class="header__logo-link hidden-desktop"
						><img src="/assets/img/logo.svg" alt="logo" class="header__logo"
					/></a>
					<a href="/" class="header__logo-link visible-desktop"
						><img src="/assets/img/logo-small.svg" alt="logo" class="header__logo"
					/></a>
					<div class="input__wrapper header__search-input">
						<input type="text" placeholder="Поиск по сайту" class="input" />
						<div class="input__button-wrapper">
							<button class="input__button">
								<i class="d_icon d_icon-search"></i>
							</button>
						</div>
					</div>
					<div class="header__location">
						<div class="header__location-title">
							<i class="d_icon d_icon-mark d_icon--red"></i>
							<span class="header__text">ПРОИЗВОДСТВО:</span>
						</div>
						<a
							href="https://yandex.ru/maps/geo/rybinsk/53057096/?ll=38.819432%2C58.063320&z=12.41"
							class="header__text header__text--big"
							>Ярославская обл. г. Рыбинск</a
						>
					</div>
					<div class="header__contacts">
						<a href="tel:89611561186" class="header__text header__text--telephone"
							>8 (961) 156-11-86</a
						>
						<p class="header__text">пн-пт 08:00 - 17:00</p>
					</div>
				</div>
				<div class="space-between header__menu hidden-tablet-l">
					<div class="hidden-tablet-l" id="desktopCatalogButton">
						<button class="my-button my-button--blue header__catalog-button">
							Каталог
							<i class="d_icon d_icon-menu catalog-button__icon"></i>
						</button>
						<!-- Каталог -->
						<div class="header__catalog catalog" id="catalog">
							<button class="catalog__item">
								<img src="/assets/img/products/block1.png" alt="" class="catalog__img" />
								<p class="catalog__text">Комплектные трансформаторные подстанции</p>
							</button>
							<button class="catalog__item">
								<img src="/assets/img/products/block1.png" alt="" class="catalog__img" />
								<p class="catalog__text">Комплектные распределительные устройства</p>
							</button>
							<button class="catalog__item">
								<img src="/assets/img/products/block1.png" alt="" class="catalog__img" />
								<p class="catalog__text">Низковольтные комплекттные устройства</p>
							</button>
						</div>
					</div>
					<nav class="header__nav">
						<ul class="header__nav-list">
							<li class="header__nav-item">
								<a href="./home.html" class="header__nav-link">Главная</a>
							</li>
							<li class="header__nav-item header__nav-item--menu">
								<span class="header__nav-link">Услуги</span>
								<ul class="services" id="services">
									<li class="services__item">
										<a href="./services.html" class="services__link">Инжиниринговый центр</a>
									</li>
									<li class="services__item">
										<a href="./services.html" class="services__link">Электролаборатория</a>
									</li>
									<li class="services__item">
										<a href="./services.html" class="services__link">Лизинг оборудования</a>
									</li>
									<li class="services__item">
										<a href="./services.html" class="services__link">Услуги металлообработки</a>
									</li>
								</ul>
							</li>
							<li class="header__nav-item">
								<a href="./projects.html" class="header__nav-link">Проекты</a>
							</li>
							<li class="header__nav-item">
								<a href="./documentation.html" class="header__nav-link">Документация</a>
							</li>
							<li class="header__nav-item">
								<a href="./about-production.html" class="header__nav-link">О предприятии</a>
							</li>
							<li class="header__nav-item">
								<a href="./partners.html" class="header__nav-link">Сотрудничество</a>
							</li>
							<li class="header__nav-item">
								<a href="./contacts.html" class="header__nav-link">Контакты</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="header__top visible-tablet-l">
					<a href="/" class="header__logo-link"
						><img src="/assets/img/logo-small.svg" alt="logo" class="header__logo"
					/></a>
					<div class="header__contacts hidden-mobile-l">
						<a href="tel:89611561186" class="header__text header__text--telephone"
							>8 (961) 156-11-86</a
						>
						<p class="header__text">пн-пт 08:00 - 17:00</p>
					</div>
					<button
						class="my-button my-button--blue header__catalog-button catalog-button visible-tablet-l"
						id="catalogButton"
					>
						<i class="d_icon d_icon-menu catalog-button__icon"></i>
					</button>
					<button
						class="header__close-button close-button visible-tablet-l"
						id="closeCatalogButton"
					>
						<i class="d_icon d_icon-close close-button__icon"></i>
					</button>
				</div>
				<div class="space-between header__menu visible-tablet-l" id="headerMenu">
					<details class="header__accordion accordion">
						<summary class="accordion__title">
							<p class="accordion__text">Каталог</p>
							<i class="d_icon d_icon-close accordion__icon"></i>
						</summary>
						<div class="block-container">
							<button class="block">
								<img src="/assets/img/products/block1.png" alt="block" class="block__img" />
								<p class="block__text">Комплектные трансформаторные подстанции</p>
							</button>
							<button class="block">
								<img src="/assets/img/products/block1.png" alt="block" class="block__img" />
								<p class="block__text">Комплектные трансформаторные подстанции</p>
							</button>
							<button class="block">
								<img src="/assets/img/products/block1.png" alt="block" class="block__img" />
								<p class="block__text">Комплектные трансформаторные подстанции</p>
							</button>
						</div>
					</details>
					<hr class="header__line" />
					<nav class="header__nav">
						<ul class="header__nav-list">
							<li class="header__nav-item">
								<a href="./home.html" class="header__nav-link">Главная</a>
							</li>
							<li class="header__nav-item">
								<details class="header__accordion accordion">
									<summary class="accordion__title">
										<p class="accordion__text">Услуги</p>
										<i class="d_icon d_icon-close accordion__icon"></i>
									</summary>
									<div class="service-container">
										<a href="./services.html" class="header__nav-link">Название услуги 1</a>
										<a href="./services.html" class="header__nav-link">Название услуги 2</a>
										<a href="./services.html" class="header__nav-link">Название услуги 3</a>
									</div>
								</details>
							</li>
							<li class="header__nav-item">
								<a href="./projects.html" class="header__nav-link">Проекты</a>
							</li>
							<li class="header__nav-item">
								<a href="./documentation.html" class="header__nav-link">Документация</a>
							</li>
							<li class="header__nav-item">
								<a href="./about-production.html" class="header__nav-link">О предприятии</a>
							</li>
							<li class="header__nav-item">
								<details class="header__accordion accordion">
									<summary class="accordion__title accordion__title--sub">
										<p class="accordion__text">Сотрудничество</p>
										<i class="d_icon d_icon-close accordion__icon"></i>
									</summary>
									<div class="service-container">
										<a href="./partners.html" class="header__nav-link">Название услуги 1</a>
										<a href="./partners.html" class="header__nav-link">Название услуги 2</a>
										<a href="./partners.html" class="header__nav-link">Название услуги 3</a>
									</div>
								</details>
							</li>
							<li class="header__nav-item">
								<a href="./contacts.html" class="header__nav-link">Контакты</a>
							</li>
						</ul>
					</nav>
					<hr class="header__line" />
					<a class="my-button my-button--blue header__menu-button">
						Перейти на наш тг канал
						<i class="d_icon d_icon-telegram"></i>
					</a>
					<div class="header__button-container">
						<div class="input__wrapper header__search-input">
							<input type="text" placeholder="+ 7 (999) 999-99-99" class="input telephone" />
						</div>
						<button class="my-button my-button--red header__button">
							Получить КП под ваш запрос
							<i class="d_icon d_icon-arrow-diagonal"></i>
						</button>
						<p class="header__text">
							Нажимая на кнопку, вы соглашаетесь с
							<span class="header__text header__text--red"
								>политикой по обработке персональных данных</span
							>
						</p>
					</div>
				</div>
			</header>
		</div>
		<main class="main documentation-main">
			<section class="container catalog-about card-about" id="about">
				<div class="catalog-about__content card-about__content">
					<div class="card-about__inner">
						<div class="catalog-about__text-container">
							<span class="h1 catalog-about__title card-about__title"
								><span class="dark-blue">БКТП_Б</span></span
							>
							<span class="dark-blue catalog-about__span card-about__span"
								>БЛОЧНАЯ КОМПЛЕКТНАЯ <br />ТРАНСФОРМАТОРНАЯ<br class="hidden-tablet-l" />
								ПОДСТАНЦИЯ В ЖЕЛЕЗОБЕТОННОЙ<br class="hidden-tablet-l" />
								ОБОЛОЧКЕ</span
							>
						</div>
						<img
							src="/assets/img/products/product1.png"
							alt="product"
							class="catalog-about__img card-about__img"
						/>
						<div
							class="main-content__button-container main-content__button-container--vertical main-content__button-container--padding catalog-about__button-container"
						>
							<form class="main-content__button-container">
								<div class="input__wrapper header__search-input main-content__input">
									<input
										type="text"
										placeholder="+ 7 (999) 999-99-99"
										tag="form"
										class="input card-about__input"
									/>
								</div>
								<button
									class="my-button my-button--red header__button main-content__button card-about__button"
									tag="form"
									id="openThanksModal"
								>
									Оставить заявку
									<i class="d_icon d_icon-arrow-diagonal"></i>
								</button>
							</form>
							<p class="header__text card-about__text">
								Нажимая на кнопку, вы соглашаетесь с
								<a href="#" class="header__text header__link header__text--red"
									>политикой по обработке персональных данных</a
								>
							</p>
						</div>
					</div>
				</div>
				<div class="catalog-about__advantages catalog-about-advantages">
					<ul class="catalog-about-advantages__list">
						<li class="catalog-about-advantages__item">
							<i class="d_icon d_icon-check-mark catalog-about-advantages__icon"></i>
							<div class="catalog-about-advantages__text-container">
								<span class="h3 catalog-about-advantages__title">Компактная</span>
								<p class="catalog-about-advantages__text">сварная металлическая конструкция</p>
							</div>
						</li>
						<li class="catalog-about-advantages__item">
							<i class="d_icon d_icon-check-mark catalog-about-advantages__icon"></i>
							<div class="catalog-about-advantages__text-container">
								<span class="h3 catalog-about-advantages__title">Не ржавеет</span>
								<p class="catalog-about-advantages__text">Антикоррозионное покрытие</p>
							</div>
						</li>
						<li class="catalog-about-advantages__item">
							<i class="d_icon d_icon-check-mark catalog-about-advantages__icon"></i>
							<div class="catalog-about-advantages__text-container">
								<span class="h3 catalog-about-advantages__title">Гарантия 3 года</span>
								<p class="catalog-about-advantages__text">на оборудование и монтаж</p>
							</div>
						</li>
					</ul>
				</div>
			</section>

			<section class="container card__conditions card-conditions">
				<div class="section-border-radius card-conditions__content">
					<img src="/assets/img/background/bg-catalog-album.png" class="card-conditions__img" />

					<div class="title card-conditions__title">
						<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
						<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
						<span class="h2"><span class="blue">УСЛОВИЯ</span> ЭКСПЛУАТАЦИИ</span>
					</div>
					<ul class="card-conditions__list">
						<li class="card-conditions__item">
							<article class="card-conditions__card card-conditions-card">
								<i class="d_icon d_icon-temperature card-conditions-card__icon"></i>
								<div class="card-conditions-card__content">
									<span class="h3 card-conditions-card__title">Температура</span>
									<p class="card-conditions-card__text">окружающего воздуха от -60оС до +40оС</p>
								</div>
							</article>
						</li>
						<li class="card-conditions__item">
							<article class="card-conditions__card card-conditions-card">
								<i class="d_icon d_icon-humidity card-conditions-card__icon"></i>
								<div class="card-conditions-card__content">
									<span class="h3 card-conditions-card__title">Относительная</span>
									<p class="card-conditions-card__text">
										влажность наружного воздуха до 100% при +25оС
									</p>
								</div>
							</article>
						</li>
						<li class="card-conditions__item">
							<article class="card-conditions__card card-conditions-card">
								<i class="d_icon d_icon-height card-conditions-card__icon"></i>
								<div class="card-conditions-card__content">
									<span class="h3 card-conditions-card__title">Высота</span>
									<p class="card-conditions-card__text">над уровнем моря не более 1000м</p>
								</div>
							</article>
						</li>
						<li class="card-conditions__item">
							<article class="card-conditions__card card-conditions-card">
								<i class="d_icon d_icon-non-explosive card-conditions-card__icon"></i>
								<div class="card-conditions-card__content">
									<span class="h3 card-conditions-card__title">Невзрывоопасная</span>
									<p class="card-conditions-card__text">
										окружающая среда, не содержит токопроводящей пыли, агрессивных газов и паров
									</p>
								</div>
							</article>
						</li>
					</ul>
					<a class="my-button my-button--red card-conditions__button">
						Скачать руководство по эксплуатации
						<i class="d_icon d_icon-upload"></i>
					</a>
				</div>
			</section>

			<section class="container card__equipment card-equipment">
				<div class="title card-equipment__title">
					<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
					<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
					<span class="h2"><span class="blue">БАЗОВАЯ</span> КОМПЛЕКТАЦИЯ</span>
				</div>
				<div
					class="section-border-radius about-production-solutions__content card-equipment__content"
				>
					<div class="slider about-production-solutions__slider groupSwiper">
						<div class="swiper-wrapper card-equipment__swiper-wrapper">
							<img
								src="/assets/img/products/block5.png"
								alt=""
								class="card-equipment__img swiper-slide"
							/>
							<img
								src="/assets/img/products/block5.png"
								alt=""
								class="card-equipment__img swiper-slide"
							/>
							<img
								src="/assets/img/products/block5.png"
								alt=""
								class="card-equipment__img swiper-slide"
							/>
						</div>
						<div class="swiper-pagination"></div>
					</div>
					<div class="card-equipment__arrow-container">
						<button
							class="slider__arrow slider__arrow--left card-equipment__arrow"
							id="groupSwiperPrev"
						>
							<i class="d_icon-quotation-left-red slider__arrow-icon"
								><span class="path1"></span><span class="path2"></span><span class="path3"></span
							></i>
						</button>
						<button
							class="slider__arrow slider__arrow--right card-equipment__arrow"
							id="groupSwiperNext"
						>
							<i class="d_icon-quotation-right-red slider__arrow-icon"
								><span class="path1"></span><span class="path2"></span><span class="path3"></span
							></i>
						</button>
					</div>
				</div>
				<section
					class="about-production-politics documentation-main__documents documentation-main-documents"
				>
					<details
						class="accordion accordion--small card-equipment__accordion card-equipment-accordion"
					>
						<summary class="accordion__header">
							<span class="h3 blue accordion__title">НАДЗЕМНЫЙ БЛОК</span>
							<i class="accordion__icon"></i>
						</summary>

						<div class="accordion__content card-equipment-accordion__content">
							<ol class="card-equipment__point-container">
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">Оборудование РУВН</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">Оборудование РУНН</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">Кабельные и/или шинные соединения</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">Ящик собственных нужд (ЯСН)</p>
								</li>
							</ol>
							<ol start="5" class="card-equipment__point-container">
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Шкафы тепловой защиты и шкафы управления вентиляторами
									</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Система охранной и/или пожарной сигнализации
									</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Комплект монтажных принадлежностей согласно спецификации
									</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Комплект светильников для наружного освещения
									</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Комплект светильников для внутреннего освещения
									</p>
								</li>
							</ol>
						</div>
					</details>
					<details class="accordion accordion--small card-equipment__accordion">
						<summary class="accordion__header">
							<span class="h3 blue accordion__title">ПОДЗЕМНЫЙ БЛОК</span>
							<i class="accordion__icon"></i>
						</summary>

						<div class="accordion__content card-equipment-accordion__content">
							<ol class="card-equipment__point-container">
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">Оборудование РУВН</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">Оборудование РУНН</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">Кабельные и/или шинные соединения</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">Ящик собственных нужд (ЯСН)</p>
								</li>
							</ol>
							<ol start="5" class="card-equipment__point-container">
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Шкафы тепловой защиты и шкафы управления вентиляторами
									</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Система охранной и/или пожарной сигнализации
									</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Комплект монтажных принадлежностей согласно спецификации
									</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Комплект светильников для наружного освещения
									</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Комплект светильников для внутреннего освещения
									</p>
								</li>
							</ol>
						</div>
					</details>
					<details class="accordion accordion--small card-equipment__accordion">
						<summary class="accordion__header">
							<span class="h3 blue accordion__title">ДОПОЛНИТЕЛЬНОЕ ОБОРУДОВАНИЕ</span>
							<i class="accordion__icon"></i>
						</summary>

						<div class="accordion__content card-equipment-accordion__content">
							<ol class="card-equipment__point-container">
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">Оборудование РУВН</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">Оборудование РУНН</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">Кабельные и/или шинные соединения</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">Ящик собственных нужд (ЯСН)</p>
								</li>
							</ol>
							<ol start="5" class="card-equipment__point-container">
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Шкафы тепловой защиты и шкафы управления вентиляторами
									</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Система охранной и/или пожарной сигнализации
									</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Комплект монтажных принадлежностей согласно спецификации
									</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Комплект светильников для наружного освещения
									</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Комплект светильников для внутреннего освещения
									</p>
								</li>
							</ol>
						</div>
					</details>
					<details class="accordion accordion--small card-equipment__accordion">
						<summary class="accordion__header">
							<span class="h3 blue accordion__title">ДОПОЛНИТЕЛЬНО ПРЕДОСТАВЛЯЕТСЯ</span>
							<i class="accordion__icon"></i>
						</summary>

						<div class="accordion__content card-equipment-accordion__content">
							<ol class="card-equipment__point-container">
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">Оборудование РУВН</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">Оборудование РУНН</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">Кабельные и/или шинные соединения</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">Ящик собственных нужд (ЯСН)</p>
								</li>
							</ol>
							<ol start="5" class="card-equipment__point-container">
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Шкафы тепловой защиты и шкафы управления вентиляторами
									</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Система охранной и/или пожарной сигнализации
									</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Комплект монтажных принадлежностей согласно спецификации
									</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Комплект светильников для наружного освещения
									</p>
								</li>
								<li class="card-equipment__point card-equipment-point">
									<p class="card-equipment-point__text">
										Комплект светильников для внутреннего освещения
									</p>
								</li>
							</ol>
						</div>
					</details>
				</section>
			</section>

			<section class="container card__links card-links">
				<div class="section-border-radius card-links__content">
					<ul class="card-links__list">
						<li class="card-links__item">
							<article class="card-links__link-container">
								<div class="card-links__wrapper">
									<i class="d_icon d_icon-doc card-links__icon"></i>
									<a href="#" class="card-links__link">Опросный лист</a>
								</div>
								<i class="d_icon d_icon-upload card-links__link-icon"></i>
							</article>
						</li>
						<li class="card-links__item">
							<article class="card-links__link-container">
								<div class="card-links__wrapper">
									<i class="d_icon d_icon-doc card-links__icon"></i>
									<a href="#" class="card-links__link">Декларация в соответствии</a>
								</div>
								<i class="d_icon d_icon-upload card-links__link-icon"></i>
							</article>
						</li>
						<li class="card-links__item">
							<article class="card-links__link-container">
								<div class="card-links__wrapper">
									<i class="d_icon d_icon-doc card-links__icon"></i>
									<a href="#" class="card-links__link">Журнал компоновок</a>
								</div>
								<i class="d_icon d_icon-upload card-links__link-icon"></i>
							</article>
						</li>
					</ul>
				</div>
			</section>

			<section class="products card__specification card-specification">
				<nav class="container products__nav">
					<ul class="products__categories-list hidden-mobile-l tabs cardTabs">
						<li class="products__categories-item tab-item">
							<button class="my-button my-button--transparent products__categories-button">
								ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ
							</button>
						</li>
						<li class="products__categories-item tab-item">
							<button class="my-button my-button--transparent products__categories-button">
								СОСТАВ ИЗДЕЛИЯ
							</button>
						</li>
						<li class="products__categories-item tab-item">
							<button class="my-button my-button--transparent products__categories-button">
								ОБЛАСТЬ ПРИМЕНЕНИЯ/ПРЕИМУЩЕСТВА
							</button>
						</li>
					</ul>
					<div class="select visible-mobile-l" id="select">
						<button class="select__content">
							<p class="select__text">ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</p>
							<i class="d_icon d_icon-triangle select__icon"></i>
						</button>
						<ul class="select__list">
							<li class="select__item">
								<button class="my-button my-button select__button">
									ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ
								</button>
							</li>
							<li class="select__item">
								<button class="my-button my-button select__button">СОСТАВ ИЗДЕЛИЯ</button>
							</li>
							<li class="select__item">
								<button class="my-button my-button select__button">
									ОБЛАСТЬ ПРИМЕНЕНИЯ/ПРЕИМУЩЕСТВА
								</button>
							</li>
						</ul>
					</div>
				</nav>

				<div id="cardTabContent1">
					<div class="container card-specification__text">
						<span class="h2 card-specification__title">ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</span>
						<div class="card-specification__text-container">
							<p class="card-specification__text">
								Комплектные трансформаторные /распределительные подстанции в блочно-модульном здании
								(БМЗ) в бетонной оболочке типа БК(Р,Т)П(Н) полной заводской готовности предназначены
								для приема, преобразования и распределения электроэнергии трехфазного переменного
								тока частотой 50 Гц, номинальным напряжением 6 кВ, 10 кВ, 20 кВ.
							</p>
							<p class="card-specification__text">
								Подстанции БК(Р,Т)П(Н) предназначены для электроснабжения городских,
								жилищно-коммунальных, общественных, инфраструктурных объектов, а также для
								электроснабжения коттеджных поселков и зон индивидуальной застройки.
							</p>
						</div>
					</div>
					<div class="container table__container">
						<div class="table__wrapper">
							<table class="card-specification__table table">
								<thead class="table__header">
									<tr class="table__row">
										<th class="table__th">НАЗВАНИЕ РАЗДЕЛА ТАБЛИЦЫ</th>
										<th class="table__th">НАЗВАНИЕ РАЗДЕЛА ТАБЛИЦЫ</th>
									</tr>
								</thead>
								<tbody class="table__body">
									<tr class="table__row">
										<td class="table__cell">Масса КТП (без трансформатора), не более</td>
										<td class="table__cell">3400 кг</td>
									</tr>
									<tr class="table__row">
										<td class="table__cell">Мощность силового трансформатора</td>
										<td class="table__cell">До 630 кВА</td>
									</tr>
									<tr class="table__row">
										<td class="table__cell">Номинальное напряжение на стороне ВН</td>
										<td class="table__cell">6; 10 кВ</td>
									</tr>
									<tr class="table__row">
										<td class="table__cell">Масса КТП (без трансформатора), не более</td>
										<td class="table__cell">3400 кг</td>
									</tr>
									<tr class="table__row">
										<td class="table__cell">Степень защиты по ГОСТ 14254</td>
										<td class="table__cell">IP23</td>
									</tr>
									<tr class="table__row">
										<td class="table__cell">Уровень изоляции по ГОСТ 1516.3</td>
										<td class="table__cell">Номинальное</td>
									</tr>
									<tr class="table__row">
										<td class="table__cell">Выполнение ввода ВН</td>
										<td class="table__cell">Воздушный; кабельный</td>
									</tr>
									<tr class="table__row">
										<td class="table__cell">Выполнение вывода НН</td>
										<td class="table__cell">Воздушный; кабельный</td>
									</tr>
									<tr class="table__row">
										<td class="table__cell">Наибольшее раб. напряж. на стороне ВН</td>
										<td class="table__cell">7,2; 12 кВ</td>
									</tr>
									<tr class="table__row">
										<td class="table__cell">Наличие коридора обслуживания</td>
										<td class="table__cell">Нет</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>

				<div id="cardTabContent2">
					<div class="container card-specification__text">
						<span class="h2 card-specification__title">СОСТАВ ИЗДЕЛИЯ</span>
						<div class="card-specification__text-container">
							<p class="card-specification__text">
								Комплектные трансформаторные /распределительные подстанции в блочно-модульном здании
								(БМЗ) в бетонной оболочке типа БК(Р,Т)П(Н) полной заводской готовности предназначены
								для приема, преобразования и распределения электроэнергии трехфазного переменного
								тока частотой 50 Гц, номинальным напряжением 6 кВ, 10 кВ, 20 кВ.
							</p>
							<p class="card-specification__text">
								Подстанции БК(Р,Т)П(Н) предназначены для электроснабжения городских,
								жилищно-коммунальных, общественных, инфраструктурных объектов, а также для
								электроснабжения коттеджных поселков и зон индивидуальной застройки.
							</p>
						</div>
					</div>
					<div class="container card-specification-list__wrapper">
						<div class="card-specification__list-container card-specification-list">
							<div class="card-specification__list-wrapper">
								<span class="h3 card-specification-list__title">ЗАГОЛОВОК СПИСКА</span>
								<ul class="card-specification-list__list">
									<li class="card-specification-list__item">
										<div class="about-production-politics__input-container">
											<div class="my-checkbox my-checkbox--small">
												<i class="d_icon d_icon-check my-checkbox__icon"></i>
											</div>
											<p class="about-production-politics__text">Пункт списка</p>
										</div>
									</li>
									<li class="card-specification-list__item">
										<div class="about-production-politics__input-container">
											<div class="my-checkbox my-checkbox--small">
												<i class="d_icon d_icon-check my-checkbox__icon"></i>
											</div>
											<p class="about-production-politics__text">Пункт списка</p>
										</div>
									</li>
									<li class="card-specification-list__item">
										<div class="about-production-politics__input-container">
											<div class="my-checkbox my-checkbox--small">
												<i class="d_icon d_icon-check my-checkbox__icon"></i>
											</div>
											<p class="about-production-politics__text">Пункт списка</p>
										</div>
									</li>
								</ul>
							</div>
							<div class="card-specification__list-wrapper">
								<span class="h3 card-specification-list__title">ЗАГОЛОВОК СПИСКА</span>
								<ul class="card-specification-list__list">
									<li class="card-specification-list__item">
										<div class="about-production-politics__input-container">
											<div class="my-checkbox my-checkbox--small">
												<i class="d_icon d_icon-check my-checkbox__icon"></i>
											</div>
											<p class="about-production-politics__text">Пункт списка</p>
										</div>
									</li>
									<li class="card-specification-list__item">
										<div class="about-production-politics__input-container">
											<div class="my-checkbox my-checkbox--small">
												<i class="d_icon d_icon-check my-checkbox__icon"></i>
											</div>
											<p class="about-production-politics__text">Пункт списка</p>
										</div>
									</li>
									<li class="card-specification-list__item">
										<div class="about-production-politics__input-container">
											<div class="my-checkbox my-checkbox--small">
												<i class="d_icon d_icon-check my-checkbox__icon"></i>
											</div>
											<p class="about-production-politics__text">Пункт списка</p>
										</div>
									</li>
								</ul>
							</div>
						</div>
						<img
							src="/assets/img/projects/project1.png"
							alt=""
							class="card-specification-list__img"
						/>
					</div>
				</div>
			</section>

			<section class="container card__advantages card-advantages">
				<article class="card-advantages-card__container">
					<div class="card-advantages__card card-advantages-card">
						<span class="h3 card-advantages-card__title">ОСОБЕННОСТИ КОНСТРУКЦИИ</span>
						<p class="card-advantages-card__text">
							Благодаря модульной конструкции КТП возможно сооружение ТП и РП различных конструкций.
							Комбинируя необходимые модули, можно получить одно-,двух-, трех- и более
							трансформаторную подстанцию. Соединение блоков может осуществляться как параллельно,
							так и последовательно
						</p>
					</div>
					<div class="card-advantages__card card-advantages-card">
						<img
							src="/assets/img/background/bg-card1.png"
							alt=""
							class="card-advantages-card__img"
						/>
					</div>
				</article>
				<article class="card-advantages-card__container">
					<div class="card-advantages__card card-advantages-card">
						<img
							src="/assets/img/background/bg-card2.png"
							alt=""
							class="card-advantages-card__img"
						/>
					</div>
					<div class="card-advantages__card card-advantages-card">
						<span class="h3 card-advantages-card__title">ТРАНСПОРТИРОВКА</span>
						<ul class="card-advantages-card__list">
							<li class="card-advantages-card__item">
								Подготовка к транспортированию включает соблюдение всех норм и правил техники
								безопасности; • БКТП_У транспортируется в горизонтальном положении как
								автомобильным, так и железнодорожным транспортом на открытых платформах; •
								Выполняется защита транспортных блоков от механических повреждений. Скорость
								транспортирования исключает повреждение изделия (согласно правил перевозок, которые
								действуют на транспорте данного вида)
							</li>
							<li class="card-advantages-card__item">
								БКТП_У транспортируется в горизонтальном положении как автомобильным, так и
								железнодорожным транспортом на открытых платформах;
							</li>
							<li class="card-advantages-card__item">
								Выполняется защита транспортных блоков от механических повреждений. Скорость
								транспортирования исключает повреждение изделия (согласно правил перевозок, которые
								действуют на транспорте данного вида)
							</li>
						</ul>
					</div>
				</article>
			</section>

			<div class="section-border-radius card-reasons__wrapper">
				<section class="container advantages card__reasons card-reasons">
					<header class="card-reasons__header">
						<div class="container title">
							<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
							<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
							<span class="h2"><span class="blue">ПОЧЕМУ ВЫБИРАЮТ</span> ДАННОЕ ОБОРУДОВАНИЕ</span>
						</div>
					</header>
					<main class="card-reasons__main">
						<div class="swiper advantages__swiper">
							<div class="advantages__card-container swiper-wrapper">
								<div class="advantages__card advantage-card card-reasons-card swiper-slide">
									<p class="advantage-card__index">1</p>
									<span class="h3 advantage-card__title card-reasons__title"
										>Простота и оперативность монтажа</span
									>
								</div>
								<div class="advantages__card advantage-card card-reasons-card swiper-slide">
									<p class="advantage-card__index">2</p>
									<span class="h3 advantage-card__title card-reasons__title"
										>Отсутствие капитальных затрат для ввода в эксплуатацию</span
									>
								</div>
								<div class="advantages__card advantage-card card-reasons-card swiper-slide">
									<p class="advantage-card__index">3</p>
									<span class="h3 advantage-card__title card-reasons__title"
										>Возможность поставки как типовых, так и нетиповых конструкций</span
									>
								</div>
								<div class="advantages__card advantage-card card-reasons-card swiper-slide">
									<p class="advantage-card__index">4</p>
									<span class="h3 advantage-card__title card-reasons__title"
										>Предмонтажная проверка осуществляется в заводских условиях</span
									>
								</div>
							</div>
							<div class="swiper-scrollbar"></div>
						</div>
					</main>
				</section>
			</div>

			<div class="catalog-products__wrapper">
				<section class="container catalog__products catalog-products card-products">
					<div class="title">
						<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
						<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
						<span class="h2"><span class="blue">ЕЩЁ ОБОРУДОВАНИЕ</span> ИЗ РАЗДЕЛА "НАЗВАНИЕ"</span>
					</div>
					<div class="catalog-products__content hidden-tablet-l">
						<article class="catalog-products__card catalog-products-card">
							<img
								src="/assets/img/products/block4.png"
								alt="product"
								class="catalog-products-card__img"
							/>
							<div class="catalog-products-card__content">
								<span class="h3 catalog-products-card__title"
									>Блочная комплектная трансформаторная подстанция</span
								>
								<p class="catalog-products-card__text">
									Способность быстро адаптироваться к изменяющимся требованиям рынка и клиентов.
								</p>
								<a class="my-button my-button--transparent catalog-products-card__button">
									Подробнее
									<i class="d_icon d_icon-arrow-diagonal catalog-products-card__icon"></i>
								</a>
							</div>
						</article>
						<article class="catalog-products__card catalog-products-card">
							<img
								src="/assets/img/products/block4.png"
								alt="product"
								class="catalog-products-card__img"
							/>
							<div class="catalog-products-card__content">
								<span class="h3 catalog-products-card__title"
									>Блочная комплектная трансформаторная подстанция</span
								>
								<p class="catalog-products-card__text">
									Способность быстро адаптироваться к изменяющимся требованиям рынка и клиентов.
								</p>
								<a class="my-button my-button--transparent catalog-products-card__button">
									Подробнее
									<i class="d_icon d_icon-arrow-diagonal catalog-products-card__icon"></i>
								</a>
							</div>
						</article>
						<article class="catalog-products__card catalog-products-card">
							<img
								src="/assets/img/products/block4.png"
								alt="product"
								class="catalog-products-card__img"
							/>
							<div class="catalog-products-card__content">
								<span class="h3 catalog-products-card__title"
									>Блочная комплектная трансформаторная подстанция</span
								>
								<p class="catalog-products-card__text">
									Способность быстро адаптироваться к изменяющимся требованиям рынка и клиентов.
								</p>
								<a class="my-button my-button--transparent catalog-products-card__button">
									Подробнее
									<i class="d_icon d_icon-arrow-diagonal catalog-products-card__icon"></i>
								</a>
							</div>
						</article>
						<article class="catalog-products__card catalog-products-card">
							<img
								src="/assets/img/products/block4.png"
								alt="product"
								class="catalog-products-card__img"
							/>
							<div class="catalog-products-card__content">
								<span class="h3 catalog-products-card__title"
									>Блочная комплектная трансформаторная подстанция</span
								>
								<p class="catalog-products-card__text">
									Способность быстро адаптироваться к изменяющимся требованиям рынка и клиентов.
								</p>
								<a class="my-button my-button--transparent catalog-products-card__button">
									Подробнее
									<i class="d_icon d_icon-arrow-diagonal catalog-products-card__icon"></i>
								</a>
							</div>
						</article>
					</div>
					<div class="products-swiper catalog-products__swiper visible-tablet-l">
						<div class="swiper-wrapper">
							<article class="catalog-products__card catalog-products-card swiper-slide">
								<img
									src="/assets/img/products/block4.png"
									alt="product"
									class="catalog-products-card__img"
								/>
								<div class="catalog-products-card__content">
									<span class="h3 catalog-products-card__title"
										>Блочная комплектная трансформаторная подстанция</span
									>
									<p class="catalog-products-card__text">
										Способность быстро адаптироваться к изменяющимся требованиям рынка и клиентов.
									</p>
									<a class="my-button my-button--transparent catalog-products-card__button">
										Подробнее
										<i class="d_icon d_icon-arrow-diagonal catalog-products-card__icon"></i>
									</a>
								</div>
							</article>
							<article class="catalog-products__card catalog-products-card swiper-slide">
								<img
									src="/assets/img/products/block4.png"
									alt="product"
									class="catalog-products-card__img"
								/>
								<div class="catalog-products-card__content">
									<span class="h3 catalog-products-card__title"
										>Блочная комплектная трансформаторная подстанция</span
									>
									<p class="catalog-products-card__text">
										Способность быстро адаптироваться к изменяющимся требованиям рынка и клиентов.
									</p>
									<a class="my-button my-button--transparent catalog-products-card__button">
										Подробнее
										<i class="d_icon d_icon-arrow-diagonal catalog-products-card__icon"></i>
									</a>
								</div>
							</article>
							<article class="catalog-products__card catalog-products-card swiper-slide">
								<img
									src="/assets/img/products/block4.png"
									alt="product"
									class="catalog-products-card__img"
								/>
								<div class="catalog-products-card__content">
									<span class="h3 catalog-products-card__title"
										>Блочная комплектная трансформаторная подстанция</span
									>
									<p class="catalog-products-card__text">
										Способность быстро адаптироваться к изменяющимся требованиям рынка и клиентов.
									</p>
									<a class="my-button my-button--transparent catalog-products-card__button">
										Подробнее
										<i class="d_icon d_icon-arrow-diagonal catalog-products-card__icon"></i>
									</a>
								</div>
							</article>
							<article class="catalog-products__card catalog-products-card swiper-slide">
								<img
									src="/assets/img/products/block4.png"
									alt="product"
									class="catalog-products-card__img"
								/>
								<div class="catalog-products-card__content">
									<span class="h3 catalog-products-card__title"
										>Блочная комплектная трансформаторная подстанция</span
									>
									<p class="catalog-products-card__text">
										Способность быстро адаптироваться к изменяющимся требованиям рынка и клиентов.
									</p>
									<a class="my-button my-button--transparent catalog-products-card__button">
										Подробнее
										<i class="d_icon d_icon-arrow-diagonal catalog-products-card__icon"></i>
									</a>
								</div>
							</article>
						</div>
						<div class="swiper-scrollbar"></div>
					</div>
				</section>
			</div>
		</main>
		<footer class="footer about-production-footer">
			<div class="footer__map">
				<div id="ymap" class="footer__map-img">
					<!-- <img src="/assets/img/map.png" alt="map" class="footer__map-img" /> -->
				</div>

				<a class="my-button my-button--blue footer__button">
					Скачать схему проезда
					<i class="d_icon d_icon-upload"></i>
				</a>

				<a href="#" class="footer__up-button hidden-mobile-l">
					<i class="d_icon d_icon-arrow-diagonal"></i>
				</a>
			</div>
			<div class="container footer__content">
				<div class="footer__contacts contacts">
					<div class="contacts__contact contact">
						<i class="d_icon d_icon-telephone contact__icon"></i>
						<div class="contact__content">
							<p class="contact__text">пн-пт 08:00 - 17:00</p>
							<a href="tel:8 (961) 156-11-86" class="contact__text contact__text--large"
								>8 (961) 156-11-86</a
							>
							<div class="contact__link-container">
								<a href="#" class="contact__link">Быстрая консультация</a>
								<i class="d_icon d_icon-arrow-diagonal contact__link-icon"></i>
							</div>
						</div>
					</div>
					<div class="contact">
						<i class="d_icon d_icon-mail contact__icon"></i>
						<div class="contact__content">
							<p class="contact__text">Email:</p>
							<a href="mailto:info@resh76.ru" class="contact__text">info@resh76.ru</a>
						</div>
					</div>
					<div class="contact">
						<i class="d_icon d_icon-whatsapp contact__icon contact__icon--whatsapp"></i>
						<div class="contact__content">
							<div class="contact__link-container contact__link-container--green">
								<a class="contact__link" id="questionModalOpenButton">Задать вопрос</a>
								<i class="d_icon d_icon-arrow-diagonal contact__link-icon"></i>
							</div>
						</div>
					</div>
					<div class="contact">
						<i class="d_icon d_icon-mark contact__icon"></i>
						<div class="contact__content">
							<p class="contact__text contact__text--large">ОФИС:</p>
							<p class="contact__text">
								152914, Ярославская обл., г.<br />Рыбинск, ул.Толбухина 8
							</p>
						</div>
					</div>
				</div>
				<nav class="footer__nav">
					<ul class="footer__list">
						<span class="h3 footer__subtitle">КАТАЛОГ</span>
						<li class="footer__item">
							<a href="#" class="footer__link">Комплектные трансформаторные<br />подстанции</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Комплектные распределительные<br />устройства</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Низковольтное комплектные<br />устройства</a>
						</li>
					</ul>
					<ul class="footer__list">
						<span class="h3 footer__subtitle">ИНФОРМАЦИЯ:</span>
						<li class="footer__item">
							<a href="#" class="footer__link">О компании</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Сотрудничество</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Контакты</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Документация</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Вакансии</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="container footer__map-services">
				<a href="#" class="footer__map-services-link">
					<img
						src="/assets/img/map-services/yandex.svg"
						alt="yandex maps"
						class="footer__map-service"
					/>
				</a>
				<a href="" class="footer__map-services-link">
					<img
						src="/assets/img/map-services/google.svg"
						alt="google maps"
						class="footer__map-service"
					/>
				</a>
				<a href="" class="footer__map-services-link">
					<img
						src="/assets/img/map-services/2gis.svg"
						alt="2gis maps"
						class="footer__map-service"
					/>
				</a>
			</div>

			<div class="container footer__privacy privacy">
				<div class="privacy__content">
					<img src="/assets/img/logo.svg" alt="logo" class="hidden-mobile-l" />
					<img src="/assets/img/logo-small.svg" alt="logo" class="visible-mobile-l" />
					<a href="#" class="footer__link privacy__link">Политика о конфиденциальности</a>
				</div>
			</div>
		</footer>

		<a href="#main" class="footer__up-button visible-mobile-l">
			<i class="d_icon d_icon-arrow-diagonal"></i>
		</a>

		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<script
			src="https://api-maps.yandex.ru/2.1/?apikey=9cc9371c-b0ef-422b-b0be-2b1d49e32386&lang=ru_RU"
			type="text/javascript"
		></script>
		<script src="../js/script.js" type="module"></script>
		<script src="../js/swipers.js" type="module"></script>
		<script src="../js/ymap.js" type="module"></script>
		<script src="../js/select.js" type="module"></script>
		<script src="../js/fancybox.js" type="module"></script>
		<script src="../js/modal.js" type="module"></script>
		<script src="../js/tabs.js" type="module"></script>
		<script src="../js/input-mask.js" type="module"></script>
	</body>
</html>
