<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>РЭЩ | Электролаборатория</title>
		<link rel="stylesheet" href="../styles/style.scss" />
	</head>
	<body>
		<div class="actions" id="actions">
			<button class="actions__close hidden-mobile-l" id="closeActions">
				<i class="d_icon d_icon-close"></i>
			</button>
			<div class="actions__button-container">
				<button class="actions__button">
					<i class="d_icon d_icon-calculator"></i>
					<p class="actions__text">Запросы на<br />расчет</p>
				</button>
				<button class="actions__button actions__button--dark" id="callbackModalOpenButton">
					<i class="d_icon d_icon-telephone"></i>
					<p class="actions__text">Обратный<br />звонок</p>
				</button>
				<button class="actions__button">
					<i class="d_icon d_icon-whatsapp"></i>
					<p class="actions__text">Написать в<br />WhatsApp</p>
				</button>
				<button class="actions__button hidden-mobile-l">
					<i class="d_icon d_icon-telegram"></i>
					<p class="actions__text">Телеграмм<br />канал РЭЩ</p>
				</button>
			</div>
		</div>

		<div class="header__wrapper">
			<header class="container header header--white" id="header">
				<div class="space-between header__top hidden-tablet-l">
					<a href="/" class="header__logo-link hidden-desktop"
						><img src="/assets/img/logo.svg" alt="logo" class="header__logo"
					/></a>
					<a href="/" class="header__logo-link visible-desktop"
						><img src="/assets/img/logo-small.svg" alt="logo" class="header__logo"
					/></a>
					<div class="input__wrapper header__search-input">
						<input type="text" placeholder="Поиск по сайту" class="input" />
						<div class="input__button-wrapper">
							<button class="input__button">
								<i class="d_icon d_icon-search"></i>
							</button>
						</div>
					</div>
					<div class="header__location">
						<div class="header__location-title">
							<i class="d_icon d_icon-mark d_icon--red"></i>
							<span class="header__text">ПРОИЗВОДСТВО:</span>
						</div>
						<a
							href="https://yandex.ru/maps/geo/rybinsk/53057096/?ll=38.819432%2C58.063320&z=12.41"
							class="header__text header__text--big"
							>Ярославская обл. г. Рыбинск</a
						>
					</div>
					<div class="header__contacts">
						<a href="tel:89611561186" class="header__text header__text--telephone"
							>8 (961) 156-11-86</a
						>
						<p class="header__text">пн-пт 08:00 - 17:00</p>
					</div>
				</div>
				<div class="space-between header__menu hidden-tablet-l">
					<div class="hidden-tablet-l" id="desktopCatalogButton">
						<button class="my-button my-button--blue header__catalog-button">
							Каталог
							<i class="d_icon d_icon-menu catalog-button__icon"></i>
						</button>
						<!-- Каталог -->
						<div class="header__catalog catalog" id="catalog">
							<button class="catalog__item">
								<img src="/assets/img/products/block1.png" alt="" class="catalog__img" />
								<p class="catalog__text">Комплектные трансформаторные подстанции</p>
							</button>
							<button class="catalog__item">
								<img src="/assets/img/products/block1.png" alt="" class="catalog__img" />
								<p class="catalog__text">Комплектные распределительные устройства</p>
							</button>
							<button class="catalog__item">
								<img src="/assets/img/products/block1.png" alt="" class="catalog__img" />
								<p class="catalog__text">Низковольтные комплекттные устройства</p>
							</button>
						</div>
					</div>
					<nav class="header__nav">
						<ul class="header__nav-list">
							<li class="header__nav-item">
								<a href="./home.html" class="header__nav-link">Главная</a>
							</li>
							<li class="header__nav-item header__nav-item--menu">
								<span class="header__nav-link">Услуги</span>
								<ul class="services" id="services">
									<li class="services__item">
										<a href="./services.html" class="services__link">Инжиниринговый центр</a>
									</li>
									<li class="services__item">
										<a href="./services.html" class="services__link">Электролаборатория</a>
									</li>
									<li class="services__item">
										<a href="./services.html" class="services__link">Лизинг оборудования</a>
									</li>
									<li class="services__item">
										<a href="./services.html" class="services__link">Услуги металлообработки</a>
									</li>
								</ul>
							</li>
							<li class="header__nav-item">
								<a href="./projects.html" class="header__nav-link">Проекты</a>
							</li>
							<li class="header__nav-item">
								<a href="./documentation.html" class="header__nav-link">Документация</a>
							</li>
							<li class="header__nav-item">
								<a href="./about-production.html" class="header__nav-link">О предприятии</a>
							</li>
							<li class="header__nav-item">
								<a href="./partners.html" class="header__nav-link">Сотрудничество</a>
							</li>
							<li class="header__nav-item">
								<a href="./contacts.html" class="header__nav-link">Контакты</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="header__top visible-tablet-l">
					<a href="/" class="header__logo-link"
						><img src="/assets/img/logo-small.svg" alt="logo" class="header__logo"
					/></a>
					<div class="header__contacts hidden-mobile-l">
						<a href="tel:89611561186" class="header__text header__text--telephone"
							>8 (961) 156-11-86</a
						>
						<p class="header__text">пн-пт 08:00 - 17:00</p>
					</div>
					<button
						class="my-button my-button--blue header__catalog-button catalog-button visible-tablet-l"
						id="catalogButton"
					>
						<i class="d_icon d_icon-menu catalog-button__icon"></i>
					</button>
					<button class="header__close-button close-button visible-tablet-l" id="closeCatalogButton">
						<i class="d_icon d_icon-close close-button__icon"></i>
					</button>
				</div>
				<div class="space-between header__menu visible-tablet-l" id="headerMenu">
					<details class="header__accordion accordion">
						<summary class="accordion__title">
							<p class="accordion__text">Каталог</p>
							<i class="d_icon d_icon-close accordion__icon"></i>
						</summary>
						<div class="block-container">
							<button class="block">
								<img src="/assets/img/products/block1.png" alt="block" class="block__img" />
								<p class="block__text">Комплектные трансформаторные подстанции</p>
							</button>
							<button class="block">
								<img src="/assets/img/products/block1.png" alt="block" class="block__img" />
								<p class="block__text">Комплектные трансформаторные подстанции</p>
							</button>
							<button class="block">
								<img src="/assets/img/products/block1.png" alt="block" class="block__img" />
								<p class="block__text">Комплектные трансформаторные подстанции</p>
							</button>
						</div>
					</details>
					<hr class="header__line" />
					<nav class="header__nav">
						<ul class="header__nav-list">
							<li class="header__nav-item">
								<a href="./home.html" class="header__nav-link">Главная</a>
							</li>
							<li class="header__nav-item">
								<details class="header__accordion accordion">
									<summary class="accordion__title">
										<p class="accordion__text">Услуги</p>
										<i class="d_icon d_icon-close accordion__icon"></i>
									</summary>
									<div class="service-container">
										<a href="./services.html" class="header__nav-link">Название услуги 1</a>
										<a href="./services.html" class="header__nav-link">Название услуги 2</a>
										<a href="./services.html" class="header__nav-link">Название услуги 3</a>
									</div>
								</details>
							</li>
							<li class="header__nav-item">
								<a href="./projects.html" class="header__nav-link">Проекты</a>
							</li>
							<li class="header__nav-item">
								<a href="./documentation.html" class="header__nav-link">Документация</a>
							</li>
							<li class="header__nav-item">
								<a href="./about-production.html" class="header__nav-link">О предприятии</a>
							</li>
							<li class="header__nav-item">
								<details class="header__accordion accordion">
									<summary class="accordion__title accordion__title--sub">
										<p class="accordion__text">Сотрудничество</p>
										<i class="d_icon d_icon-close accordion__icon"></i>
									</summary>
									<div class="service-container">
										<a href="./partners.html" class="header__nav-link">Название услуги 1</a>
										<a href="./partners.html" class="header__nav-link">Название услуги 2</a>
										<a href="./partners.html" class="header__nav-link">Название услуги 3</a>
									</div>
								</details>
							</li>
							<li class="header__nav-item">
								<a href="./contacts.html" class="header__nav-link">Контакты</a>
							</li>
						</ul>
					</nav>
					<hr class="header__line" />
					<a class="my-button my-button--blue header__menu-button">
						Перейти на наш тг канал
						<i class="d_icon d_icon-telegram"></i>
					</a>
					<div class="header__button-container">
						<div class="input__wrapper header__search-input">
							<input type="text" placeholder="+ 7 (999) 999-99-99" class="input telephone" />
						</div>
						<button class="my-button my-button--red header__button">
							Получить КП под ваш запрос
							<i class="d_icon d_icon-arrow-diagonal"></i>
						</button>
						<p class="header__text">
							Нажимая на кнопку, вы соглашаетесь с
							<span class="header__text header__text--red"
								>политикой по обработке персональных данных</span
							>
						</p>
					</div>
				</div>
			</header>
		</div>
		<main class="main documentation-main">
			<section class="container electrolaboratory-about" id="about">
				<div class="section-border-radius catalog-album__content electrolaboratory-about__content">
					<span class="h1 documentation-main-about__title"
						><span class="blue">ЭЛЕКТРОЛАБОРАТОРИЯ</span><span class="white"> РЭЩ</span></span
					>
					<p class="documentation-main-about__text">ИСПЫТАНИЯ И ИЗМЕРЕНИЯ ДО 1000 В И ВЫШЕ</p>
					<div
						class="main-content__button-container main-content__button-container--vertical main-content__button-container--padding electrolaboratory-about__buttonc-container"
					>
						<form class="main-content__button-container">
							<div
								class="input__wrapper input__wrapper--white header__search-input main-content__input"
							>
								<input
									type="tel"
									placeholder="+ 7 (999) 999-99-99"
									tag="form"
									class="input electrolaboratory-about__input"
								/>
							</div>
							<button
								class="my-button my-button--red header__button main-content__button electrolaboratory-about__button"
								tag="form"
								id="openThanksModal"
							>
								Заказать услугу
								<i class="d_icon d_icon-arrow-diagonal"></i>
							</button>
						</form>
						<p class="catalog-album__text catalog-album__text--small">
							Нажимая на кнопку, вы соглашаетесь с
							<a href="#" class="blue catalog-album__link"
								>политикой по обработке персональных данных</a
							>
						</p>
					</div>
				</div>
			</section>

			<section class="container electrolaboratory-director">
				<main class="about-production-director__main electrolaboratory-director__main">
					<img
						src="/assets/img/persons/person3.png"
						alt="director"
						class="about-production-director__img electrolaboratory-director__img"
					/>
					<div class="about-production-director__content electrolaboratory-director__content">
						<p class="electrolaboratory-director__text">
							Мы проводим испытания, диагностику и техническое обслуживание электрооборудования,
							гарантируя его надежность и безопасность.
						</p>
						<p class="electrolaboratory-director__text electrolaboratory-director__text--small">
							Андреев Анатолий Александрович<br />
							<span class="blue">Руководитель электролаборатории</span>
						</p>

						<button
							class="my-button my-button--blue about-production-director__button electrolaboratory-director__button"
						>
							Написать руководителю
							<i class="d_icon d_icon-mail"></i>
						</button>
					</div>
				</main>
			</section>

			<section class="container electrolaboratory-about electrolaboratory-info">
				<div class="section-border-radius catalog-album__content electrolaboratory-info__content">
					<p class="electrolaboratory-info__text">
						Наша электролаборатория имеет право проводить приемо-сдаточные испытания,
						профилактические испытания и измерения электрооборудования и электроустановок
						напряжением до 35 кВ.
					</p>
					<p class="electrolaboratory-info__text electrolaboratory-info__text--small">
						В ее свидетельстве о регистрации указано более 26 видов разрешенных испытаний и
						измерений.
					</p>
					<div
						class="main-content__button-container main-content__button-container--vertical main-content__button-container--padding electrolaboratory-about__button-container"
					>
						<div class="main-content__button-container">
							<a
								class="my-button my-button--red header__button main-content__button electrolaboratory-about__button"
								tag="form"
								id="openThanksModal"
							>
								Скачать свидетельство
								<i class="d_icon d_icon-upload"></i>
							</a>
							<a
								class="my-button my-button--transparent header__button main-content__button electrolaboratory-about__button electrolaboratory-about__button--small"
								tag="form"
								id="openThanksModal"
							>
								Скачать акт осмотра
								<i class="d_icon d_icon-upload"></i>
							</a>
						</div>
					</div>
				</div>
			</section>

			<section class="container electrolaboratory-specialists">
				<header class="about-production-history__header">
					<div class="title about__title">
						<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
						<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
						<span class="h2"><span class="blue">ВЕДУЩИЕ СПЕЦИАЛИСТЫ</span> ЭТЛ</span>
					</div>
				</header>
				<main class="electrolaboratory-specialists__main">
					<div class="electrolaboratory-specialists__card-container hidden-tablet-l">
						<article class="electrolaboratory-specialists__card">
							<img
								src="/assets/img/electrolaboratory/specialist1.png"
								alt="specialist"
								class="electrolaboratory-specialists__img"
							/>
							<div class="electrolaboratory-specialists__info">
								<div class="electrolaboratory-specialists__title-container">
									<span class="electrolaboratory-specialists__span"
										>Руководитель Электролаборатории
									</span>
									<p class="electrolaboratory-specialists__text">АНДРЕЕВ АНАТОЛИЙ АЛЕКСАНДРОВИЧ</p>
								</div>
								<p class="electrolaboratory-specialists__span">
									v группа по электробезопасности опыт работы более 15 лет
								</p>
							</div>
						</article>
						<article class="electrolaboratory-specialists__card">
							<img
								src="/assets/img/electrolaboratory/specialist2.png"
								alt="specialist"
								class="electrolaboratory-specialists__img"
							/>
							<div class="electrolaboratory-specialists__info">
								<div class="electrolaboratory-specialists__title-container">
									<span class="electrolaboratory-specialists__span"
										>начальник отдела СМР и ПнР</span
									>
									<p class="electrolaboratory-specialists__text">КУДРЯВЦЕВ ОЛЕГ НИКОЛАЕВИЧ</p>
								</div>
								<p class="electrolaboratory-specialists__span">
									v группа по электробезопасности опыт работы более 15 лет
								</p>
							</div>
						</article>
						<article class="electrolaboratory-specialists__card">
							<img
								src="/assets/img/electrolaboratory/specialist3.png"
								alt="specialist"
								class="electrolaboratory-specialists__img"
							/>
							<div class="electrolaboratory-specialists__info">
								<div class="electrolaboratory-specialists__title-container">
									<span class="electrolaboratory-specialists__span"
										>инженер по испытаниям и измерениям</span
									>
									<p class="electrolaboratory-specialists__text">ЛЕБЕДЕВ ДМИТРИЙ ВАЛЕНТИНОВИЧ</p>
								</div>
								<p class="electrolaboratory-specialists__span">
									v группа по электробезопасности опыт работы более 15 лет
								</p>
							</div>
						</article>
					</div>
					<div class="team-swiper electrolaboratory-specialists__card visible-tablet-l">
						<div class="swiper-wrapper electrolaboratory-specialists__card-container">
							<article class="electrolaboratory-specialists__card swiper-slide">
								<img
									src="/assets/img/electrolaboratory/specialist1.png"
									alt="specialist"
									class="electrolaboratory-specialists__img"
								/>
								<div class="electrolaboratory-specialists__info">
									<div class="electrolaboratory-specialists__title-container">
										<span class="electrolaboratory-specialists__span"
											>Руководитель Электролаборатории
										</span>
										<p class="electrolaboratory-specialists__text">
											АНДРЕЕВ АНАТОЛИЙ АЛЕКСАНДРОВИЧ
										</p>
									</div>
									<p class="electrolaboratory-specialists__span">
										v группа по электробезопасности опыт работы более 15 лет
									</p>
								</div>
							</article>
							<article class="electrolaboratory-specialists__card swiper-slide">
								<img
									src="/assets/img/electrolaboratory/specialist2.png"
									alt="specialist"
									class="electrolaboratory-specialists__img"
								/>
								<div class="electrolaboratory-specialists__info">
									<div class="electrolaboratory-specialists__title-container">
										<span class="electrolaboratory-specialists__span"
											>начальник отдела СМР и ПнР</span
										>
										<p class="electrolaboratory-specialists__text">КУДРЯВЦЕВ ОЛЕГ НИКОЛАЕВИЧ</p>
									</div>
									<p class="electrolaboratory-specialists__span">
										v группа по электробезопасности опыт работы более 15 лет
									</p>
								</div>
							</article>
							<article class="electrolaboratory-specialists__card swiper-slide">
								<img
									src="/assets/img/electrolaboratory/specialist3.png"
									alt="specialist"
									class="electrolaboratory-specialists__img"
								/>
								<div class="electrolaboratory-specialists__info">
									<div class="electrolaboratory-specialists__title-container">
										<span class="electrolaboratory-specialists__span"
											>инженер по испытаниям и измерениям</span
										>
										<p class="electrolaboratory-specialists__text">ЛЕБЕДЕВ ДМИТРИЙ ВАЛЕНТИНОВИЧ</p>
									</div>
									<p class="electrolaboratory-specialists__span">
										v группа по электробезопасности опыт работы более 15 лет
									</p>
								</div>
							</article>
						</div>
					</div>
				</main>
			</section>

			<div class="section-border-radius electrolaboratory-differences__wrapper">
				<section class="container advantages electrolaboratory-differences">
					<div class="title">
						<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
						<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
						<span class="h2"><span class="blue">ЧТО ОТЛИЧАЕТ</span> НАС ОТ ДРУГИХ?</span>
					</div>
					<div class="electrolaboratory-differences__card-container hidden-tablet-l">
						<article class="advantages__card advantage-card electrolaboratory-differences__card">
							<p class="advantage-card__index">1</p>
							<span class="h3 advantage-card__title">Профессиональная команда</span>
							<p class="advantage-card__text">
								Наша команда опытных специалистов обладает глубокими знаниями и пониманием требований
								стандартов, что позволяет проводить измерения и испытания на высоком уровне.
							</p>
						</article>
						<article class="advantages__card advantage-card electrolaboratory-differences__card">
							<p class="advantage-card__index">2</p>
							<span class="h3 advantage-card__title">Современное оборудование</span>
							<p class="advantage-card__text">
								Мы используем передовые технологии и самое высокоточное оборудование, обеспечивая
								точность и надежность результатов.
							</p>
						</article>
						<article class="advantages__card advantage-card electrolaboratory-differences__card">
							<p class="advantage-card__index">3</p>
							<span class="h3 advantage-card__title">Индивидуальный подход</span>
							<p class="advantage-card__text">
								Разработаем индивидуальные программы измерений и испытаний с учетом потребностей и
								требований каждого клиента.
							</p>
						</article>
					</div>
					<div class="swiper advantages__swiper visible-tablet-l">
						<div class="advantages__card-container swiper-wrapper">
							<article class="advantages__card advantage-card swiper-slide">
								<p class="advantage-card__index">1</p>
								<span class="h3 advantage-card__title">Профессиональная команда</span>
								<p class="advantage-card__text">
									Наша команда опытных специалистов обладает глубокими знаниями и пониманием
									требований стандартов, что позволяет проводить измерения и испытания на высоком
									уровне.
								</p>
							</article>
							<article class="advantages__card advantage-card swiper-slide">
								<p class="advantage-card__index">2</p>
								<span class="h3 advantage-card__title">Современное оборудование</span>
								<p class="advantage-card__text">
									Мы используем передовые технологии и самое высокоточное оборудование, обеспечивая
									точность и надежность результатов.
								</p>
							</article>
							<article class="advantages__card advantage-card swiper-slide">
								<p class="advantage-card__index">3</p>
								<span class="h3 advantage-card__title">Индивидуальный подход</span>
								<p class="advantage-card__text">
									Разработаем индивидуальные программы измерений и испытаний с учетом потребностей и
									требований каждого клиента.
								</p>
							</article>
						</div>
					</div>
				</section>
			</div>

			<section class="container electrolaboratory-trials">
				<header class="about__header">
					<div class="title about__title">
						<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
						<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
						<span class="h2"><span class="blue">ВИДЫ</span> ИСПЫТАНИЙ И ИЗМЕРЕНИЙ</span>
					</div>
					<button
						class="my-button my-button--red about__button justify-content-center hidden-mobile-l"
					>
						Заказать услугу
						<i class="d_icon d_icon-arrow-diagonal"></i>
					</button>
				</header>
				<main class="electrolaboratory-trials__main">
					<details class="accordion accordion--small electrolaboratory-trials__accordion">
						<summary class="accordion__header">
							<span class="h3 blue accordion__title">ДО 1000 В</span>
							<i class="accordion__icon"></i>
						</summary>

						<div class="accordion__content">
							<article class="electrolaboratory-trials__text-container">
								<i class="electrolaboratory-trials__icon">
									<i class="d_icon d_icon-check"></i>
								</i>
								<p class="electrolaboratory-trials__text">
									соответсвия смонтированной схемы электроустановки требованиям
									нормативно-технической документации
								</p>
							</article>
							<article class="electrolaboratory-trials__text-container">
								<i class="electrolaboratory-trials__icon">
									<i class="d_icon d_icon-check"></i>
								</i>
								<p class="electrolaboratory-trials__text">
									между заземлителями и заземляемыми элементами
								</p>
							</article>
							<article class="electrolaboratory-trials__text-container">
								<i class="electrolaboratory-trials__icon">
									<i class="d_icon d_icon-check"></i>
								</i>
								<p class="electrolaboratory-trials__text">
									цепи между заземлителями и заземляемыми элементами
								</p>
							</article>
							<article class="electrolaboratory-trials__text-container">
								<i class="electrolaboratory-trials__icon">
									<i class="d_icon d_icon-check"></i>
								</i>
								<p class="electrolaboratory-trials__text">
									наличия цепи между заземленными установками и элементами заземленной установки
								</p>
							</article>
							<article class="electrolaboratory-trials__text-container">
								<i class="electrolaboratory-trials__icon">
									<i class="d_icon d_icon-check"></i>
								</i>
								<p class="electrolaboratory-trials__text">
									наличия цепи между заземленными установками и элементами заземленной установки
								</p>
							</article>
						</div>
					</details>
					<details class="accordion accordion--small electrolaboratory-trials__accordion">
						<summary class="accordion__header">
							<span class="h3 blue accordion__title">СВЫШЕ 1000 В</span>
							<i class="accordion__icon"></i>
						</summary>

						<div class="accordion__content">
							<article class="electrolaboratory-trials__text-container">
								<i class="electrolaboratory-trials__icon">
									<i class="d_icon d_icon-check"></i>
								</i>
								<p class="electrolaboratory-trials__text">
									соответсвия смонтированной схемы электроустановки требованиям
									нормативно-технической документации
								</p>
							</article>
							<article class="electrolaboratory-trials__text-container">
								<i class="electrolaboratory-trials__icon">
									<i class="d_icon d_icon-check"></i>
								</i>
								<p class="electrolaboratory-trials__text">
									между заземлителями и заземляемыми элементами
								</p>
							</article>
							<article class="electrolaboratory-trials__text-container">
								<i class="electrolaboratory-trials__icon">
									<i class="d_icon d_icon-check"></i>
								</i>
								<p class="electrolaboratory-trials__text">
									цепи между заземлителями и заземляемыми элементами
								</p>
							</article>
							<article class="electrolaboratory-trials__text-container">
								<i class="electrolaboratory-trials__icon">
									<i class="d_icon d_icon-check"></i>
								</i>
								<p class="electrolaboratory-trials__text">
									наличия цепи между заземленными установками и элементами заземленной установки
								</p>
							</article>
							<article class="electrolaboratory-trials__text-container">
								<i class="electrolaboratory-trials__icon">
									<i class="d_icon d_icon-check"></i>
								</i>
								<p class="electrolaboratory-trials__text">
									наличия цепи между заземленными установками и элементами заземленной установки
								</p>
							</article>
						</div>
					</details>
				</main>
				<button
					class="my-button my-button--red about__button justify-content-center electrolaboratory-equipment__button visible-mobile-l"
				>
					Заказать услугу
					<i class="d_icon d_icon-arrow-diagonal"></i>
				</button>
			</section>

			<section class="container electrolaboratory-equipment">
				<header class="about__header">
					<div class="title about__title">
						<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
						<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
						<span class="h2"
							><span class="blue">ОСНОВНОЕ ОБОРУДОВАНИЕ</span><br />
							ЭЛЕКТРОТЕХНИЧЕСКОЙ ЛАБОРАТОРИИ</span
						>
					</div>
				</header>
				<main class="electrolaboratory-equipment__main">
					<div class="electrolaboratory-equipment__card-container hidden-tablet">
						<article class="electrolaboratory-equipment__card">
							<img
								src="/assets/img/electrolaboratory/equipment1.png"
								alt="eqipment"
								class="electrolaboratory-equipment__img"
							/>
							<span class="electrolaboratory-equipment__span">Длиннон название оборудования</span>
						</article>
						<article class="electrolaboratory-equipment__card">
							<img
								src="/assets/img/electrolaboratory/equipment2.png"
								alt="eqipment"
								class="electrolaboratory-equipment__img"
							/>
							<span class="electrolaboratory-equipment__span">Длиннон название оборудования</span>
						</article>
						<article class="electrolaboratory-equipment__card">
							<img
								src="/assets/img/electrolaboratory/equipment2.png"
								alt="eqipment"
								class="electrolaboratory-equipment__img"
							/>
							<span class="electrolaboratory-equipment__span">Длиннон название оборудования</span>
						</article>
						<article class="electrolaboratory-equipment__card">
							<img
								src="/assets/img/electrolaboratory/equipment1.png"
								alt="eqipment"
								class="electrolaboratory-equipment__img"
							/>
							<span class="electrolaboratory-equipment__span">Длиннон название оборудования</span>
						</article>
						<article class="electrolaboratory-equipment__card">
							<img
								src="/assets/img/electrolaboratory/equipment2.png"
								alt="eqipment"
								class="electrolaboratory-equipment__img"
							/>
							<span class="electrolaboratory-equipment__span">Длиннон название оборудования</span>
						</article>
						<article class="electrolaboratory-equipment__card">
							<img
								src="/assets/img/electrolaboratory/equipment1.png"
								alt="eqipment"
								class="electrolaboratory-equipment__img"
							/>
							<span class="electrolaboratory-equipment__span">Длиннон название оборудования</span>
						</article>
						<article class="electrolaboratory-equipment__card">
							<img
								src="/assets/img/electrolaboratory/equipment2.png"
								alt="eqipment"
								class="electrolaboratory-equipment__img"
							/>
							<span class="electrolaboratory-equipment__span">Длиннон название оборудования</span>
						</article>
						<article class="electrolaboratory-equipment__card">
							<img
								src="/assets/img/electrolaboratory/equipment1.png"
								alt="eqipment"
								class="electrolaboratory-equipment__img"
							/>
							<span class="electrolaboratory-equipment__span">Длиннон название оборудования</span>
						</article>
					</div>

					<div
						class="products-swiper advantages__swiper electrolaboratory-equipment__slider visible-tablet"
					>
						<div class="advantages__card-container swiper-wrapper">
							<div class="swiper-slide">
								<article class="electrolaboratory-equipment__card">
									<img
										src="/assets/img/electrolaboratory/equipment1.png"
										alt="eqipment"
										class="electrolaboratory-equipment__img"
									/>
									<span class="electrolaboratory-equipment__span"
										>Длиннон название оборудования</span
									>
								</article>
							</div>
							<div class="swiper-slide">
								<article class="electrolaboratory-equipment__card">
									<img
										src="/assets/img/electrolaboratory/equipment2.png"
										alt="eqipment"
										class="electrolaboratory-equipment__img"
									/>
									<span class="electrolaboratory-equipment__span"
										>Длиннон название оборудования</span
									>
								</article>
							</div>
							<div class="swiper-slide">
								<article class="electrolaboratory-equipment__card">
									<img
										src="/assets/img/electrolaboratory/equipment2.png"
										alt="eqipment"
										class="electrolaboratory-equipment__img"
									/>
									<span class="electrolaboratory-equipment__span"
										>Длиннон название оборудования</span
									>
								</article>
							</div>
							<div class="swiper-slide">
								<article class="electrolaboratory-equipment__card">
									<img
										src="/assets/img/electrolaboratory/equipment1.png"
										alt="eqipment"
										class="electrolaboratory-equipment__img"
									/>
									<span class="electrolaboratory-equipment__span"
										>Длиннон название оборудования</span
									>
								</article>
							</div>
							<div class="swiper-slide">
								<article class="electrolaboratory-equipment__card">
									<img
										src="/assets/img/electrolaboratory/equipment2.png"
										alt="eqipment"
										class="electrolaboratory-equipment__img"
									/>
									<span class="electrolaboratory-equipment__span"
										>Длиннон название оборудования</span
									>
								</article>
							</div>
							<div class="swiper-slide">
								<article class="electrolaboratory-equipment__card">
									<img
										src="/assets/img/electrolaboratory/equipment1.png"
										alt="eqipment"
										class="electrolaboratory-equipment__img"
									/>
									<span class="electrolaboratory-equipment__span"
										>Длиннон название оборудования</span
									>
								</article>
							</div>
							<div class="swiper-slide">
								<article class="electrolaboratory-equipment__card">
									<img
										src="/assets/img/electrolaboratory/equipment2.png"
										alt="eqipment"
										class="electrolaboratory-equipment__img"
									/>
									<span class="electrolaboratory-equipment__span"
										>Длиннон название оборудования</span
									>
								</article>
							</div>
							<div class="swiper-slide">
								<article class="electrolaboratory-equipment__card">
									<img
										src="/assets/img/electrolaboratory/equipment1.png"
										alt="eqipment"
										class="electrolaboratory-equipment__img"
									/>
									<span class="electrolaboratory-equipment__span"
										>Длиннон название оборудования</span
									>
								</article>
							</div>
						</div>
					</div>
				</main>
			</section>

			<section class="container project-production">
				<header class="about__header">
					<div class="title about__title">
						<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
						<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
						<span class="h2">ИСПЫТАНИЯ<span class="blue"> НА ОБЪЕКТАХ</span></span>
					</div>
				</header>
				<main class="project-production__main">
					<article class="project-production__img-container">
						<a
							href="/assets/img/project/production/production1.png"
							class="border-none"
							data-fancybox="productionGallery"
						>
							<img
								src="/assets/img/project/production/production1.png"
								alt="production"
								class="project-production__img"
							/>
						</a>
						<span class="project-production__img-description">Описание фотографии</span>
					</article>
					<article class="project-production__img-container">
						<a
							href="/assets/img/project/production/production2.png"
							class="border-none"
							data-fancybox="productionGallery"
						>
							<img
								src="/assets/img/project/production/production2.png"
								alt="production"
								class="project-production__img"
							/>
						</a>
						<span class="project-production__img-description">Описание фотографии</span>
					</article>
					<article class="project-production__img-container">
						<a
							href="/assets/img/project/production/production3.png"
							class="border-none"
							data-fancybox="productionGallery"
						>
							<img
								src="/assets/img/project/production/production3.png"
								alt="production"
								class="project-production__img"
							/>
						</a>
						<span class="project-production__img-description">Описание фотографии</span>
					</article>
					<article class="project-production__img-container">
						<a
							href="/assets/img/project/production/production4.png"
							class="border-none"
							data-fancybox="productionGallery"
						>
							<img
								src="/assets/img/project/production/production4.png"
								alt="production"
								class="project-production__img"
							/>
						</a>
						<span class="project-production__img-description">Описание фотографии</span>
					</article>
					<article class="project-production__img-container hidden-mobile-l">
						<a
							href="/assets/img/project/production/production5.png"
							class="border-none"
							data-fancybox="productionGallery"
						>
							<img
								src="/assets/img/project/production/production5.png"
								alt="production"
								class="project-production__img"
							/>
						</a>
						<span class="project-production__img-description">Описание фотографии</span>
					</article>
					<article class="project-production__img-container hidden-mobile-l">
						<a
							href="/assets/img/project/production/production6.png"
							class="border-none"
							data-fancybox="productionGallery"
						>
							<img
								src="/assets/img/project/production/production6.png"
								alt="production"
								class="project-production__img"
							/>
						</a>
						<span class="project-production__img-description">Описание фотографии</span>
					</article>
					<article class="project-production__img-container hidden-mobile-l">
						<a
							href="/assets/img/project/production/production7.png"
							class="border-none"
							data-fancybox="productionGallery"
						>
							<img
								src="/assets/img/project/production/production7.png"
								alt="production"
								class="project-production__img"
							/>
						</a>
						<span class="project-production__img-description">Описание фотографии</span>
					</article>
					<article class="project-production__img-container hidden-mobile-l">
						<a
							href="/assets/img/project/production/production8.png"
							class="border-none"
							data-fancybox="productionGallery"
						>
							<img
								src="/assets/img/project/production/production8.png"
								alt="production"
								class="project-production__img"
							/>
						</a>
						<span class="project-production__img-description">Описание фотографии</span>
					</article>
					<article class="project-production__img-container hidden-mobile-l">
						<a
							href="/assets/img/project/production/production9.png"
							class="border-none"
							data-fancybox="productionGallery"
						>
							<img
								src="/assets/img/project/production/production9.png"
								alt="production"
								class="project-production__img"
							/>
						</a>
						<span class="project-production__img-description">Описание фотографии</span>
					</article>
				</main>
				<div class="project-production__button-container visible-mobile-l">
					<button class="my-button my-button--blue about__button">
						Отправить заявку на рассчет
						<i class="d_icon d_icon-calculator"></i>
					</button>
					<button class="my-button my-button--red about__button">
						Отправить заявку на рассчет
						<i class="d_icon d_icon-calculator"></i>
					</button>
				</div>
			</section>

			<section
				class="container about-production__politics about-production-politics electrolaboratory-questions"
			>
				<header class="about-production-team__header">
					<div class="title about__title">
						<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
						<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
						<span class="h2">ЧАСТО ЗАДАВАЕМЫЕ<span class="blue"> ВОПРОСЫ</span></span>
					</div>
				</header>
				<main class="about-production-politics__main">
					<details
						class="accordion about-production-politics__accordion electrolaboratory-questions__accordion"
					>
						<summary class="accordion__header">
							<span class="h3 blue accordion__title about-production-politics__title"
								>ЧЕМ ЗАНИМАЕТСЯ ЭЛЕКТРОЛАБОРАТОРИЯ?</span
							>
							<i class="accordion__icon"></i>
						</summary>

						<ul class="accordion__content">
							<p class="electrolaboratory-questions__text">
								Лаборатория выполняет следующий перечень задач:
							</p>
							<li class="about-production-politics__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="about-production-politics__text">
									Осмотр установок и соединений в них для качества работ по монтажу
								</p>
							</li>
							<li class="about-production-politics__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="about-production-politics__text">
									Проверку качества заземлений на их соответствие нормативным документам
								</p>
							</li>
							<li class="about-production-politics__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="about-production-politics__text">
									Измерение сопротивления изоляции силовых кабелей на напряжение в 100 воль
								</p>
							</li>
						</ul>
					</details>
					<details
						class="accordion about-production-politics__accordion electrolaboratory-questions__accordion"
					>
						<summary class="accordion__header">
							<span class="h3 blue accordion__title about-production-politics__title"
								>ЗАЧЕМ НУЖНЫ УСЛУГИ ЭЛЕКТРОЛАБОРАТОРИИ?</span
							>
							<i class="accordion__icon"></i>
						</summary>

						<ul class="accordion__content">
							<p class="electrolaboratory-questions__text">
								Лаборатория выполняет следующий перечень задач:
							</p>
							<li class="about-production-politics__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="about-production-politics__text">
									Осмотр установок и соединений в них для качества работ по монтажу
								</p>
							</li>
							<li class="about-production-politics__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="about-production-politics__text">
									Проверку качества заземлений на их соответствие нормативным документам
								</p>
							</li>
							<li class="about-production-politics__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="about-production-politics__text">
									Измерение сопротивления изоляции силовых кабелей на напряжение в 100 воль
								</p>
							</li>
						</ul>
					</details>
					<details
						class="accordion about-production-politics__accordion electrolaboratory-questions__accordion"
					>
						<summary class="accordion__header">
							<span class="h3 blue accordion__title about-production-politics__title"
								>ДЛЯ ЧЕГО НУЖЕН АКТ ОТ ЭЛЕКТРОЛАБОРАТОРИИ</span
							>
							<i class="accordion__icon"></i>
						</summary>

						<ul class="accordion__content">
							<p class="electrolaboratory-questions__text">
								Лаборатория выполняет следующий перечень задач:
							</p>
							<li class="about-production-politics__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="about-production-politics__text">
									Осмотр установок и соединений в них для качества работ по монтажу
								</p>
							</li>
							<li class="about-production-politics__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="about-production-politics__text">
									Проверку качества заземлений на их соответствие нормативным документам
								</p>
							</li>
							<li class="about-production-politics__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="about-production-politics__text">
									Измерение сопротивления изоляции силовых кабелей на напряжение в 100 воль
								</p>
							</li>
						</ul>
					</details>
					<details
						class="accordion about-production-politics__accordion electrolaboratory-questions__accordion"
					>
						<summary class="accordion__header">
							<span class="h3 blue accordion__title about-production-politics__title"
								>ЧТО БУДЕТ ЗА ОТСУТСТВИЕ АКТУАЛЬНОГО ПРОТОКОЛА?</span
							>
							<i class="accordion__icon"></i>
						</summary>

						<ul class="accordion__content">
							<p class="electrolaboratory-questions__text">
								Лаборатория выполняет следующий перечень задач:
							</p>
							<li class="about-production-politics__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="about-production-politics__text">
									Осмотр установок и соединений в них для качества работ по монтажу
								</p>
							</li>
							<li class="about-production-politics__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="about-production-politics__text">
									Проверку качества заземлений на их соответствие нормативным документам
								</p>
							</li>
							<li class="about-production-politics__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="about-production-politics__text">
									Измерение сопротивления изоляции силовых кабелей на напряжение в 100 воль
								</p>
							</li>
						</ul>
					</details>
					<details
						class="accordion about-production-politics__accordion electrolaboratory-questions__accordion"
					>
						<summary class="accordion__header">
							<span class="h3 blue accordion__title about-production-politics__title"
								>КАКОЕ ВРЕМЯ НЕОБХОДИМО ДЛЯ ПРОВЕДЕНИЯ ПОВЕРКИ СЧЕТЧИКА ЭЛЕКТРОЭНЕРГИИ НА
								ПРОМЫШЛЕННЫХ И БЫТОВЫХ ОБЪЕКТАХ?</span
							>
							<i class="accordion__icon"></i>
						</summary>

						<ul class="accordion__content">
							<p class="electrolaboratory-questions__text">
								Лаборатория выполняет следующий перечень задач:
							</p>
							<li class="about-production-politics__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="about-production-politics__text">
									Осмотр установок и соединений в них для качества работ по монтажу
								</p>
							</li>
							<li class="about-production-politics__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="about-production-politics__text">
									Проверку качества заземлений на их соответствие нормативным документам
								</p>
							</li>
							<li class="about-production-politics__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="about-production-politics__text">
									Измерение сопротивления изоляции силовых кабелей на напряжение в 100 воль
								</p>
							</li>
						</ul>
					</details>
				</main>
			</section>

			<section class="container person">
				<div class="section-border-radius person__content-wrapper">
					<i class="d_icon d_icon-telegram person__back-img"></i>

					<div class="person__content">
						<div class="title title--blue about__title person__title">
							<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
							<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
							<span class="h2"
								>ГЛАВНЫЕ СОБЫТИЯ<br /> ОТ<span class="blue"> ПЕРВОГО</span> ЛИЦА</span
							>
						</div>
						<p class="person__text">
							Подпишитесь на телеграм канал директора РЭЩ<br />Цветкова Романа Николаевича
						</p>
						<a class="my-button my-button--blue person__button">
							Перейти на канал
							<i class="d_icon d_icon-telegram"></i>
						</a>
						<img src="/assets/img/persons/person1.png" alt="person" class="person__img" />
					</div>
				</div>
			</section>

			<div class="section-border-radius electrolaboratory-order__wrapper">
				<section class="container electrolaboratory-order">
					<div class="title about__title">
						<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
						<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
						<span class="h2">ЗАКАЗАТЬ УСЛУГУ <span class="blue">ЭЛЕКТРОЛАБОРАТОРИИ</span></span>
					</div>
					<div class="electrolaboratory-order__content">
						<form class="electrolaboratory-order__input-container">
							<input
								type="text"
								tag="form"
								placeholder="Ваше имя*"
								class="electrolaboratory-order__input"
							/>
							<input
								type="tel"
								tag="form"
								placeholder="+7 (___) ___-__-__*"
								class="electrolaboratory-order__input"
							/>
							<button
								type="button"
								class="my-button my-button-transparent electrolaboratory-order__button"
							>
								Прикрепить файл
								<i class="d_icon d_icon-paper-clip"></i>
							</button>
							<button
								class="my-button my-button--red justify-content-center electrolaboratory-order__send-button"
							>
								Отправить заявку
								<i class="d_icon d_icon-arrow-diagonal"></i>
							</button>
						</form>
						<span class="electrolaboratory-order__span"
							>Нажимая на кнопку, вы соглашаетесь с
							<a href="#" class="electrolaboratory-order__link"
								>политикой по обработке персональных данных</a
							></span
						>
					</div>
				</section>
			</div>
		</main>
		<footer class="footer about-production-footer">
			<div class="footer__map">
				<div id="ymap" class="footer__map-img">
					<!-- <img src="/assets/img/map.png" alt="map" class="footer__map-img" /> -->
				</div>

				<a class="my-button my-button--blue footer__button">
					Скачать схему проезда
					<i class="d_icon d_icon-upload"></i>
				</a>

				<a href="#" class="footer__up-button hidden-mobile-l">
					<i class="d_icon d_icon-arrow-diagonal"></i>
				</a>
			</div>
			<div class="container footer__content">
				<div class="footer__contacts contacts">
					<div class="contacts__contact contact">
						<i class="d_icon d_icon-telephone contact__icon"></i>
						<div class="contact__content">
							<p class="contact__text">пн-пт 08:00 - 17:00</p>
							<p class="contact__text contact__text--large">8 (961) 156-11-86</p>
							<div class="contact__link-container">
								<a href="#" class="contact__link">Быстрая консультация</a>
								<i class="d_icon d_icon-arrow-diagonal contact__link-icon"></i>
							</div>
						</div>
					</div>
					<div class="contact">
						<i class="d_icon d_icon-mail contact__icon"></i>
						<div class="contact__content">
							<p class="contact__text">Email:</p>
							<p class="contact__text">info@resh76.ru</p>
						</div>
					</div>
					<div class="contact">
						<i class="d_icon d_icon-whatsapp contact__icon contact__icon--whatsapp"></i>
						<div class="contact__content">
							<div class="contact__link-container contact__link-container--green">
								<a class="contact__link" id="questionModalOpenButton">Задать вопрос</a>
								<i class="d_icon d_icon-arrow-diagonal contact__link-icon"></i>
							</div>
						</div>
					</div>
					<div class="contact">
						<i class="d_icon d_icon-mark contact__icon"></i>
						<div class="contact__content">
							<p class="contact__text contact__text--large">ОФИС:</p>
							<p class="contact__text">152914, Ярославская обл., г.<br />Рыбинск, ул.Толбухина 8</p>
						</div>
					</div>
				</div>
				<nav class="footer__nav">
					<ul class="footer__list">
						<span class="h3 footer__subtitle">КАТАЛОГ</span>
						<li class="footer__item">
							<a href="#" class="footer__link">Комплектные трансформаторные<br />подстанции</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Комплектные распределительные<br />устройства</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Низковольтное комплектные<br />устройства</a>
						</li>
					</ul>
					<ul class="footer__list">
						<span class="h3 footer__subtitle">ИНФОРМАЦИЯ:</span>
						<li class="footer__item">
							<a href="#" class="footer__link">О компании</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Сотрудничество</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Контакты</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Документация</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Вакансии</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="container footer__map-services">
				<a href="#" class="footer__map-services-link">
					<img
						src="/assets/img/map-services/yandex.svg"
						alt="yandex maps"
						class="footer__map-service"
					/>
				</a>
				<a href="" class="footer__map-services-link">
					<img
						src="/assets/img/map-services/google.svg"
						alt="google maps"
						class="footer__map-service"
					/>
				</a>
				<a href="" class="footer__map-services-link">
					<img
						src="/assets/img/map-services/2gis.svg"
						alt="2gis maps"
						class="footer__map-service"
					/>
				</a>
			</div>

			<div class="container footer__privacy privacy">
				<div class="privacy__content">
					<img src="/assets/img/logo.svg" alt="logo" class="hidden-mobile-l" />
					<img src="/assets/img/logo-small.svg" alt="logo" class="visible-mobile-l" />
					<a href="#" class="footer__link privacy__link">Политика о конфиденциальности</a>
				</div>
			</div>
		</footer>

		<a href="#main" class="footer__up-button visible-mobile-l">
			<i class="d_icon d_icon-arrow-diagonal"></i>
		</a>

		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<script
			src="https://api-maps.yandex.ru/2.1/?apikey=9cc9371c-b0ef-422b-b0be-2b1d49e32386&lang=ru_RU"
			type="text/javascript"
		></script>
		<script src="../js/script.js" type="module"></script>
		<script src="../js/swipers.js" type="module"></script>
		<script src="../js/ymap.js" type="module"></script>
		<script src="../js/select.js" type="module"></script>
		<script src="../js/fancybox.js" type="module"></script>
		<script src="../js/modal.js" type="module"></script>
		<script src="../js/input-mask.js" type="module"></script>
	</body>
</html>
