<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>РЭЩ | Инжиниринговый центр</title>
		<link rel="stylesheet" href="../styles/style.scss" />
	</head>
	<body>
		<div class="actions" id="actions">
			<button class="actions__close hidden-mobile-l" id="closeActions">
				<i class="d_icon d_icon-close"></i>
			</button>
			<div class="actions__button-container">
				<button class="actions__button">
					<i class="d_icon d_icon-calculator"></i>
					<p class="actions__text">Запросы на<br />расчет</p>
				</button>
				<button class="actions__button actions__button--dark" id="callbackModalOpenButton">
					<i class="d_icon d_icon-telephone"></i>
					<p class="actions__text">Обратный<br />звонок</p>
				</button>
				<button class="actions__button">
					<i class="d_icon d_icon-whatsapp"></i>
					<p class="actions__text">Написать в<br />WhatsApp</p>
				</button>
				<button class="actions__button hidden-mobile-l">
					<i class="d_icon d_icon-telegram"></i>
					<p class="actions__text">Телеграмм<br />канал РЭЩ</p>
				</button>
			</div>
		</div>

		<div class="header__wrapper">
			<header class="container header header--white" id="header">
				<div class="space-between header__top hidden-tablet-l">
					<a href="/" class="header__logo-link hidden-desktop"
						><img src="/assets/img/logo.svg" alt="logo" class="header__logo"
					/></a>
					<a href="/" class="header__logo-link visible-desktop"
						><img src="/assets/img/logo-small.svg" alt="logo" class="header__logo"
					/></a>
					<div class="input__wrapper header__search-input">
						<input type="text" placeholder="Поиск по сайту" class="input" />
						<div class="input__button-wrapper">
							<button class="input__button">
								<i class="d_icon d_icon-search"></i>
							</button>
						</div>
					</div>
					<div class="header__location">
						<div class="header__location-title">
							<i class="d_icon d_icon-mark d_icon--red"></i>
							<span class="header__text">ПРОИЗВОДСТВО:</span>
						</div>
						<a
							href="https://yandex.ru/maps/geo/rybinsk/53057096/?ll=38.819432%2C58.063320&z=12.41"
							class="header__text header__text--big"
							>Ярославская обл. г. Рыбинск</a
						>
					</div>
					<div class="header__contacts">
						<a href="tel:89611561186" class="header__text header__text--telephone"
							>8 (961) 156-11-86</a
						>
						<p class="header__text">пн-пт 08:00 - 17:00</p>
					</div>
				</div>
				<div class="space-between header__menu hidden-tablet-l">
					<div class="hidden-tablet-l" id="desktopCatalogButton">
						<button class="my-button my-button--blue header__catalog-button">
							Каталог
							<i class="d_icon d_icon-menu catalog-button__icon"></i>
						</button>
						<!-- Каталог -->
						<div class="header__catalog catalog" id="catalog">
							<button class="catalog__item">
								<img src="/assets/img/products/block1.png" alt="" class="catalog__img" />
								<p class="catalog__text">Комплектные трансформаторные подстанции</p>
							</button>
							<button class="catalog__item">
								<img src="/assets/img/products/block1.png" alt="" class="catalog__img" />
								<p class="catalog__text">Комплектные распределительные устройства</p>
							</button>
							<button class="catalog__item">
								<img src="/assets/img/products/block1.png" alt="" class="catalog__img" />
								<p class="catalog__text">Низковольтные комплекттные устройства</p>
							</button>
						</div>
					</div>
					<nav class="header__nav">
						<ul class="header__nav-list">
							<li class="header__nav-item">
								<a href="./home.html" class="header__nav-link">Главная</a>
							</li>
							<li class="header__nav-item header__nav-item--menu">
								<span class="header__nav-link">Услуги</span>
								<ul class="services" id="services">
									<li class="services__item">
										<a href="./services.html" class="services__link">Инжиниринговый центр</a>
									</li>
									<li class="services__item">
										<a href="./services.html" class="services__link">Электролаборатория</a>
									</li>
									<li class="services__item">
										<a href="./services.html" class="services__link">Лизинг оборудования</a>
									</li>
									<li class="services__item">
										<a href="./services.html" class="services__link">Услуги металлообработки</a>
									</li>
								</ul>
							</li>
							<li class="header__nav-item">
								<a href="./projects.html" class="header__nav-link">Проекты</a>
							</li>
							<li class="header__nav-item">
								<a href="./documentation.html" class="header__nav-link">Документация</a>
							</li>
							<li class="header__nav-item">
								<a href="./about-production.html" class="header__nav-link">О предприятии</a>
							</li>
							<li class="header__nav-item">
								<a href="./partners.html" class="header__nav-link">Сотрудничество</a>
							</li>
							<li class="header__nav-item">
								<a href="./contacts.html" class="header__nav-link">Контакты</a>
							</li>
						</ul>
					</nav>
				</div>
				<div class="header__top visible-tablet-l">
					<a href="/" class="header__logo-link"
						><img src="/assets/img/logo-small.svg" alt="logo" class="header__logo"
					/></a>
					<div class="header__contacts hidden-mobile-l">
						<a href="tel:89611561186" class="header__text header__text--telephone"
							>8 (961) 156-11-86</a
						>
						<p class="header__text">пн-пт 08:00 - 17:00</p>
					</div>
					<button
						class="my-button my-button--blue header__catalog-button catalog-button visible-tablet-l"
						id="catalogButton"
					>
						<i class="d_icon d_icon-menu catalog-button__icon"></i>
					</button>
					<button
						class="header__close-button close-button visible-tablet-l"
						id="closeCatalogButton"
					>
						<i class="d_icon d_icon-close close-button__icon"></i>
					</button>
				</div>
				<div class="space-between header__menu visible-tablet-l" id="headerMenu">
					<details class="header__accordion accordion">
						<summary class="accordion__title">
							<p class="accordion__text">Каталог</p>
							<i class="d_icon d_icon-close accordion__icon"></i>
						</summary>
						<div class="block-container">
							<button class="block">
								<img src="/assets/img/products/block1.png" alt="block" class="block__img" />
								<p class="block__text">Комплектные трансформаторные подстанции</p>
							</button>
							<button class="block">
								<img src="/assets/img/products/block1.png" alt="block" class="block__img" />
								<p class="block__text">Комплектные трансформаторные подстанции</p>
							</button>
							<button class="block">
								<img src="/assets/img/products/block1.png" alt="block" class="block__img" />
								<p class="block__text">Комплектные трансформаторные подстанции</p>
							</button>
						</div>
					</details>
					<hr class="header__line" />
					<nav class="header__nav">
						<ul class="header__nav-list">
							<li class="header__nav-item">
								<a href="./home.html" class="header__nav-link">Главная</a>
							</li>
							<li class="header__nav-item">
								<details class="header__accordion accordion">
									<summary class="accordion__title">
										<p class="accordion__text">Услуги</p>
										<i class="d_icon d_icon-close accordion__icon"></i>
									</summary>
									<div class="service-container">
										<a href="./services.html" class="header__nav-link">Название услуги 1</a>
										<a href="./services.html" class="header__nav-link">Название услуги 2</a>
										<a href="./services.html" class="header__nav-link">Название услуги 3</a>
									</div>
								</details>
							</li>
							<li class="header__nav-item">
								<a href="./projects.html" class="header__nav-link">Проекты</a>
							</li>
							<li class="header__nav-item">
								<a href="./documentation.html" class="header__nav-link">Документация</a>
							</li>
							<li class="header__nav-item">
								<a href="./about-production.html" class="header__nav-link">О предприятии</a>
							</li>
							<li class="header__nav-item">
								<details class="header__accordion accordion">
									<summary class="accordion__title accordion__title--sub">
										<p class="accordion__text">Сотрудничество</p>
										<i class="d_icon d_icon-close accordion__icon"></i>
									</summary>
									<div class="service-container">
										<a href="./partners.html" class="header__nav-link">Название услуги 1</a>
										<a href="./partners.html" class="header__nav-link">Название услуги 2</a>
										<a href="./partners.html" class="header__nav-link">Название услуги 3</a>
									</div>
								</details>
							</li>
							<li class="header__nav-item">
								<a href="./contacts.html" class="header__nav-link">Контакты</a>
							</li>
						</ul>
					</nav>
					<hr class="header__line" />
					<a class="my-button my-button--blue header__menu-button">
						Перейти на наш тг канал
						<i class="d_icon d_icon-telegram"></i>
					</a>
					<div class="header__button-container">
						<div class="input__wrapper header__search-input">
							<input type="text" placeholder="+ 7 (999) 999-99-99" class="input telephone" />
						</div>
						<button class="my-button my-button--red header__button">
							Получить КП под ваш запрос
							<i class="d_icon d_icon-arrow-diagonal"></i>
						</button>
						<p class="header__text">
							Нажимая на кнопку, вы соглашаетесь с
							<span class="header__text header__text--red"
								>политикой по обработке персональных данных</span
							>
						</p>
					</div>
				</div>
			</header>
		</div>
		<main class="main documentation-main">
			<section class="container electrolaboratory-about" id="about">
				<div class="section-border-radius catalog-album__content electrolaboratory-about__content">
					<span class="h1 documentation-main-about__title"
						><span class="blue">ИНЖИНИРИНГОВЫЙ</span> ЦЕНТР</span
					>
					<p class="documentation-main-about__text">ПОДЗАГОЛОВОК</p>
					<div
						class="main-content__button-container main-content__button-container--vertical main-content__button-container--padding electrolaboratory-about__buttonc-container"
					>
						<form class="main-content__button-container">
							<div
								class="input__wrapper input__wrapper--white header__search-input main-content__input"
							>
								<input
									type="tel"
									placeholder="+ 7 (999) 999-99-99"
									tag="form"
									class="input electrolaboratory-about__input"
								/>
							</div>
							<button
								class="my-button my-button--red header__button main-content__button electrolaboratory-about__button"
								tag="form"
								id="openThanksModal"
							>
								Заказать услугу
								<i class="d_icon d_icon-arrow-diagonal"></i>
							</button>
						</form>
						<p class="catalog-album__text catalog-album__text--small">
							Нажимая на кнопку, вы соглашаетесь с
							<a href="#" class="blue catalog-album__link"
								>политикой по обработке персональных данных</a
							>
						</p>
					</div>
				</div>
			</section>

			<section class="container electrolaboratory-director eng-director">
				<main class="about-production-director__main electrolaboratory-director__main">
					<img
						src="/assets/img/persons/person4.png"
						alt="director"
						class="about-production-director__img electrolaboratory-director__img eng-director__img"
					/>
					<div class="about-production-director__content electrolaboratory-director__content">
						<p class="electrolaboratory-director__text">
							"Инжиниринг - это движущая сила нашего предприятия. Он лежит в основе каждого
							продукта, который мы разрабатываем, каждого решения, которое мы предлагаем, и каждого
							проекта, который мы реализуем."
						</p>
						<p class="electrolaboratory-director__text electrolaboratory-director__text--small">
							Унщиков Иван Михайлович<br />
							<span class="blue">Руководитель инжинирингового центра</span>
						</p>

						<button
							class="my-button my-button--blue about-production-director__button electrolaboratory-director__button hidden-mobile-l"
						>
							Написать руководителю
							<i class="d_icon d_icon-mail"></i>
						</button>
					</div>
				</main>
			</section>

			<div class="eng-functions__wrapper">
				<section class="container eng-functions">
					<header class="about__header">
						<div class="title about__title">
							<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
							<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
							<span class="h2"
								><span class="blue">КЛЮЧЕВЫЕ ФУНКЦИИ</span> ИНЖИНИРИНГОВОГО ЦЕНТРА</span
							>
						</div>
					</header>
					<main class="eng-functions__main">
						<div class="eng-functions__card-container hidden-tablet-l">
							<article class="advantage-card advantage-card--alt eng-functions__card">
								<header class="advantage-card__header">
									<p class="advantage-card__index">1</p>
									<i class="d_icon d_icon-search-accept advantage-card__icon"></i>
								</header>
								<hr class="advantage-card__line" />
								<span class="h3 advantage-card__title">Исследование и анализ тенденций рынка</span>
								<p class="advantage-card__text">
									Постоянное исследование и анализ рыночных тенденций и новых технологий для
									внедрения передовых решений в разработку и производство электротехнического
									оборудования.
								</p>
							</article>
							<article class="advantage-card advantage-card--alt eng-functions__card">
								<header class="advantage-card__header">
									<p class="advantage-card__index">2</p>
									<i class="d_icon d_icon-search-accept advantage-card__icon"></i>
								</header>
								<hr class="advantage-card__line" />
								<span class="h3 advantage-card__title">Оптимизация и повышение эффективности</span>
								<p class="advantage-card__text">
									Оптимизация производственных процессов и их применение для повышения эффективности
									и снижения сроков выпуска электротехнического оборудования.
								</p>
							</article>
							<article class="advantage-card advantage-card--alt eng-functions__card">
								<header class="advantage-card__header">
									<p class="advantage-card__index">3</p>
									<i class="d_icon d_icon-search-accept advantage-card__icon"></i>
								</header>
								<hr class="advantage-card__line" />
								<span class="h3 advantage-card__title">Консультирование</span>
								<p class="advantage-card__text">
									Консультирование заказчиков по выбору наиболее подходящих электротехнических
									решений. Анализ и оптимизация их проектов
								</p>
							</article>
							<article class="advantage-card advantage-card--alt eng-functions__card">
								<header class="advantage-card__header">
									<p class="advantage-card__index">4</p>
									<i class="d_icon d_icon-search-accept advantage-card__icon"></i>
								</header>
								<hr class="advantage-card__line" />
								<span class="h3 advantage-card__title">Проектирование и разработка устройств</span>
								<p class="advantage-card__text">
									Проектирование и разработка новых электротехнических устройств, запуск в серийное
									производство.
								</p>
							</article>
							<article class="advantage-card advantage-card--alt eng-functions__card">
								<header class="advantage-card__header">
									<p class="advantage-card__index">5</p>
									<i class="d_icon d_icon-search-accept advantage-card__icon"></i>
								</header>
								<hr class="advantage-card__line" />
								<span class="h3 advantage-card__title">Обучение клиентов и настройка работы</span>
								<p class="advantage-card__text">
									Поддержка клиентов в обучении и настройке работы с новым электротехническим
									оборудованием.
								</p>
							</article>
							<article class="advantage-card advantage-card--alt eng-functions__card">
								<header class="advantage-card__header">
									<p class="advantage-card__index">6</p>
									<i class="d_icon d_icon-search-accept advantage-card__icon"></i>
								</header>
								<hr class="advantage-card__line" />
								<span class="h3 advantage-card__title"
									>Доступ к качественным ресурсам и материалам</span
								>
								<p class="advantage-card__text">
									Установление партнерских отношений с поставщиками комплектующих и технологий для
									обеспечения постоянного доступа к качественным ресурсам и материалам.
								</p>
							</article>
							<article class="advantage-card advantage-card--alt eng-functions__card">
								<header class="advantage-card__header">
									<p class="advantage-card__index">7</p>
									<i class="d_icon d_icon-search-accept advantage-card__icon"></i>
								</header>
								<hr class="advantage-card__line" />
								<span class="h3 advantage-card__title"
									>Обучение и развитие сотрудников и настройка работы</span
								>
								<p class="advantage-card__text">
									Ознакомление с задачей. Предварительная оценка необходимого Обучение и развитие
									сотрудников инжинирингового центра для поддержания высокого уровня
									профессионализма и технической компетентности в нашей отрасли. работ.
								</p>
							</article>
							<article class="advantage-card advantage-card--alt eng-functions__card">
								<header class="advantage-card__header">
									<p class="advantage-card__index">8</p>
									<i class="d_icon d_icon-search-accept advantage-card__icon"></i>
								</header>
								<hr class="advantage-card__line" />
								<span class="h3 advantage-card__title">Новые решения и Качество обслуживания</span>
								<p class="advantage-card__text">
									Адаптация производства к изменяющимся требованиям рынка и гибкое реагирование на
									потребности клиентов, обеспечивая быстрые сроки поставок и высокое качество
									обслуживания.
								</p>
							</article>
						</div>
						<div class="swiper eng-functions__slider visible-tablet-l">
							<div class="advantages__card-container solutions__card-container swiper-wrapper">
								<article
									class="advantage-card advantage-card--alt eng-functions__card swiper-slide"
								>
									<header class="advantage-card__header">
										<p class="advantage-card__index">1</p>
										<i class="d_icon d_icon-search-accept advantage-card__icon"></i>
									</header>
									<hr class="advantage-card__line" />
									<span class="h3 advantage-card__title"
										>Исследование и анализ тенденций рынка</span
									>
									<p class="advantage-card__text">
										Постоянное исследование и анализ рыночных тенденций и новых технологий для
										внедрения передовых решений в разработку и производство электротехнического
										оборудования.
									</p>
								</article>
								<article
									class="advantage-card advantage-card--alt eng-functions__card swiper-slide"
								>
									<header class="advantage-card__header">
										<p class="advantage-card__index">2</p>
										<i class="d_icon d_icon-search-accept advantage-card__icon"></i>
									</header>
									<hr class="advantage-card__line" />
									<span class="h3 advantage-card__title"
										>Оптимизация и повышение эффективности</span
									>
									<p class="advantage-card__text">
										Оптимизация производственных процессов и их применение для повышения
										эффективности и снижения сроков выпуска электротехнического оборудования.
									</p>
								</article>
								<article
									class="advantage-card advantage-card--alt eng-functions__card swiper-slide"
								>
									<header class="advantage-card__header">
										<p class="advantage-card__index">3</p>
										<i class="d_icon d_icon-search-accept advantage-card__icon"></i>
									</header>
									<hr class="advantage-card__line" />
									<span class="h3 advantage-card__title">Консультирование</span>
									<p class="advantage-card__text">
										Консультирование заказчиков по выбору наиболее подходящих электротехнических
										решений. Анализ и оптимизация их проектов
									</p>
								</article>
								<article
									class="advantage-card advantage-card--alt eng-functions__card swiper-slide"
								>
									<header class="advantage-card__header">
										<p class="advantage-card__index">4</p>
										<i class="d_icon d_icon-search-accept advantage-card__icon"></i>
									</header>
									<hr class="advantage-card__line" />
									<span class="h3 advantage-card__title"
										>Проектирование и разработка устройств</span
									>
									<p class="advantage-card__text">
										Проектирование и разработка новых электротехнических устройств, запуск в
										серийное производство.
									</p>
								</article>
								<article
									class="advantage-card advantage-card--alt eng-functions__card swiper-slide"
								>
									<header class="advantage-card__header">
										<p class="advantage-card__index">5</p>
										<i class="d_icon d_icon-search-accept advantage-card__icon"></i>
									</header>
									<hr class="advantage-card__line" />
									<span class="h3 advantage-card__title">Обучение клиентов и настройка работы</span>
									<p class="advantage-card__text">
										Поддержка клиентов в обучении и настройке работы с новым электротехническим
										оборудованием.
									</p>
								</article>
								<article
									class="advantage-card advantage-card--alt eng-functions__card swiper-slide"
								>
									<header class="advantage-card__header">
										<p class="advantage-card__index">6</p>
										<i class="d_icon d_icon-search-accept advantage-card__icon"></i>
									</header>
									<hr class="advantage-card__line" />
									<span class="h3 advantage-card__title"
										>Доступ к качественным ресурсам и материалам</span
									>
									<p class="advantage-card__text">
										Установление партнерских отношений с поставщиками комплектующих и технологий для
										обеспечения постоянного доступа к качественным ресурсам и материалам.
									</p>
								</article>
								<article
									class="advantage-card advantage-card--alt eng-functions__card swiper-slide"
								>
									<header class="advantage-card__header">
										<p class="advantage-card__index">7</p>
										<i class="d_icon d_icon-search-accept advantage-card__icon"></i>
									</header>
									<hr class="advantage-card__line" />
									<span class="h3 advantage-card__title"
										>Обучение и развитие сотрудников и настройка работы</span
									>
									<p class="advantage-card__text">
										Ознакомление с задачей. Предварительная оценка необходимого Обучение и развитие
										сотрудников инжинирингового центра для поддержания высокого уровня
										профессионализма и технической компетентности в нашей отрасли. работ.
									</p>
								</article>
								<article
									class="advantage-card advantage-card--alt eng-functions__card swiper-slide"
								>
									<header class="advantage-card__header">
										<p class="advantage-card__index">8</p>
										<i class="d_icon d_icon-search-accept advantage-card__icon"></i>
									</header>
									<hr class="advantage-card__line" />
									<span class="h3 advantage-card__title"
										>Новые решения и Качество обслуживания</span
									>
									<p class="advantage-card__text">
										Адаптация производства к изменяющимся требованиям рынка и гибкое реагирование на
										потребности клиентов, обеспечивая быстрые сроки поставок и высокое качество
										обслуживания.
									</p>
								</article>
							</div>
							<div class="swiper-scrollbar"></div>
						</div>
						<div class="eng-functions__button-container">
							<a class="my-button my-button--blue eng-functions__button">
								Посмотреть компоновочные решения
								<i class="d_icon d_icon-arrow-digonal"></i>
							</a>
							<button class="my-button my-button--red eng-functions__send-button">
								Отправить заявку на расчет
								<i class="d_icon d_icon-calculator"></i>
							</button>
						</div>
					</main>
				</section>
			</div>

			<section class="section-border-radius eng-bg">
				<img src="/assets/img/background/bg-engineering-center.png" alt="" class="eng-bg__img" />
			</section>

			<div class="eng-advantages__wrapper">
				<section class="container eng-functions eng-advantages">
					<header class="about__header">
						<div class="title about__title">
							<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
							<span class="h2"><span class="blue">МЫ - ЛУЧШИЙ ВЫБОР</span> ДЛЯ ВАШЕГО ПРОЕКТА</span>
						</div>
					</header>
					<main class="eng-functions__main">
						<div
							class="eng-functions__card-container eng-advantages__card-container hidden-tablet-l"
						>
							<article class="advantage-card eng-functions__card">
								<header class="advantage-card__header">
									<p class="advantage-card__index">1</p>
								</header>
								<span class="h3 advantage-card__title">Профессиональная команда</span>
								<p class="advantage-card__text">
									Наша команда опытных специалистов обладает глубокими знаниями и пониманием
									требований стандартов, что позволяет проводить измерения и испытания на высоком
									уровне.
								</p>
							</article>
							<article class="advantage-card eng-functions__card">
								<header class="advantage-card__header">
									<p class="advantage-card__index">2</p>
								</header>
								<span class="h3 advantage-card__title">Современное оборудование</span>
								<p class="advantage-card__text">
									Мы используем передовые технологии и самое высокоточное оборудование, обеспечивая
									точность и надежность результатов.
								</p>
							</article>
							<article class="advantage-card eng-functions__card">
								<header class="advantage-card__header">
									<p class="advantage-card__index">3</p>
								</header>
								<span class="h3 advantage-card__title">Индивидуальный подход</span>
								<p class="advantage-card__text">
									Разработаем индивидуальные программы измерений и испытаний с учетом потребностей и
									требований каждого клиента.
								</p>
							</article>
							<article class="advantage-card eng-functions__card">
								<header class="advantage-card__header">
									<p class="advantage-card__index">4</p>
								</header>
								<span class="h3 advantage-card__title">Профессиональная команда</span>
								<p class="advantage-card__text">
									Наша команда опытных специалистов обладает глубокими знаниями и пониманием
									требований стандартов, что позволяет проводить измерения и испытания на высоком
									уровне.
								</p>
							</article>
							<article class="advantage-card eng-functions__card">
								<header class="advantage-card__header">
									<p class="advantage-card__index">5</p>
								</header>
								<span class="h3 advantage-card__title">Современное оборудование</span>
								<p class="advantage-card__text">
									Мы используем передовые технологии и самое высокоточное оборудование, обеспечивая
									точность и надежность результатов.
								</p>
							</article>
							<article class="advantage-card eng-functions__card">
								<header class="advantage-card__header">
									<p class="advantage-card__index">6</p>
								</header>
								<span class="h3 advantage-card__title">Индивидуальный подход</span>
								<p class="advantage-card__text">
									Разработаем индивидуальные программы измерений и испытаний с учетом потребностей и
									требований каждого клиента.
								</p>
							</article>
						</div>
						<div class="swiper eng-functions__slider visible-tablet-l">
							<div class="advantages__card-container solutions__card-container swiper-wrapper">
								<article class="advantage-card eng-functions__card swiper-slide">
									<header class="advantage-card__header">
										<p class="advantage-card__index">1</p>
									</header>
									<span class="h3 advantage-card__title">Профессиональная команда</span>
									<p class="advantage-card__text">
										Наша команда опытных специалистов обладает глубокими знаниями и пониманием
										требований стандартов, что позволяет проводить измерения и испытания на высоком
										уровне.
									</p>
								</article>
								<article class="advantage-card eng-functions__card swiper-slide">
									<header class="advantage-card__header">
										<p class="advantage-card__index">2</p>
									</header>
									<span class="h3 advantage-card__title">Современное оборудование</span>
									<p class="advantage-card__text">
										Мы используем передовые технологии и самое высокоточное оборудование,
										обеспечивая точность и надежность результатов.
									</p>
								</article>
								<article class="advantage-card eng-functions__card swiper-slide">
									<header class="advantage-card__header">
										<p class="advantage-card__index">3</p>
									</header>
									<span class="h3 advantage-card__title">Индивидуальный подход</span>
									<p class="advantage-card__text">
										Разработаем индивидуальные программы измерений и испытаний с учетом потребностей
										и требований каждого клиента.
									</p>
								</article>
								<article class="advantage-card eng-functions__card swiper-slide">
									<header class="advantage-card__header">
										<p class="advantage-card__index">4</p>
									</header>
									<span class="h3 advantage-card__title">Профессиональная команда</span>
									<p class="advantage-card__text">
										Наша команда опытных специалистов обладает глубокими знаниями и пониманием
										требований стандартов, что позволяет проводить измерения и испытания на высоком
										уровне.
									</p>
								</article>
								<article class="advantage-card eng-functions__card swiper-slide">
									<header class="advantage-card__header">
										<p class="advantage-card__index">5</p>
									</header>
									<span class="h3 advantage-card__title">Современное оборудование</span>
									<p class="advantage-card__text">
										Мы используем передовые технологии и самое высокоточное оборудование,
										обеспечивая точность и надежность результатов.
									</p>
								</article>
								<article class="advantage-card eng-functions__card swiper-slide">
									<header class="advantage-card__header">
										<p class="advantage-card__index">6</p>
									</header>
									<span class="h3 advantage-card__title">Индивидуальный подход</span>
									<p class="advantage-card__text">
										Разработаем индивидуальные программы измерений и испытаний с учетом потребностей
										и требований каждого клиента.
									</p>
								</article>
							</div>
							<div class="swiper-scrollbar"></div>
						</div>
					</main>
				</section>
			</div>

			<section class="eng-bg eng-bg2">
				<header class="container about__header">
					<div class="title about__title">
						<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
						<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
						<span class="h2"
							><span class="blue">КОМАНДА СПЕЦИАЛИСТОВ</span> ИНЖИНИРИНГОВОГО ЦЕНТРА</span
						>
					</div>
				</header>

				<img
					src="/assets/img/background/bg-engineering-center2.png"
					alt=""
					class="section-border-radius eng-bg__img"
				/>
			</section>

			<section class="container person">
				<div class="section-border-radius person__content-wrapper">
					<i class="d_icon d_icon-telegram person__back-img"></i>

					<div class="person__content">
						<div class="title title--blue about__title person__title">
							<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
							<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
							<span class="h2"
								>ГЛАВНЫЕ СОБЫТИЯ<br />
								ОТ<span class="blue"> ПЕРВОГО</span> ЛИЦА</span
							>
						</div>
						<p class="person__text">
							Подпишитесь на телеграм канал директора РЭЩ<br />Цветкова Романа Николаевича
						</p>
						<a class="my-button my-button--blue person__button">
							Перейти на канал
							<i class="d_icon d_icon-telegram"></i>
						</a>
						<img src="/assets/img/persons/person1.png" alt="person" class="person__img" />
					</div>
				</div>
			</section>
		</main>

		<footer class="footer about-production-footer">
			<div class="footer__map">
				<div id="ymap" class="footer__map-img">
					<!-- <img src="/assets/img/map.png" alt="map" class="footer__map-img" /> -->
				</div>
				<a class="my-button my-button--blue footer__button">
					Скачать схему проезда
					<i class="d_icon d_icon-upload"></i>
				</a>
				<a href="#" class="footer__up-button hidden-mobile-l">
					<i class="d_icon d_icon-arrow-diagonal"></i>
				</a>
			</div>
			<div class="container footer__content">
				<div class="footer__contacts contacts">
					<div class="contacts__contact contact">
						<i class="d_icon d_icon-telephone contact__icon"></i>
						<div class="contact__content">
							<p class="contact__text">пн-пт 08:00 - 17:00</p>
							<p class="contact__text contact__text--large">8 (961) 156-11-86</p>
							<div class="contact__link-container">
								<a href="#" class="contact__link">Быстрая консультация</a>
								<i class="d_icon d_icon-arrow-diagonal contact__link-icon"></i>
							</div>
						</div>
					</div>
					<div class="contact">
						<i class="d_icon d_icon-mail contact__icon"></i>
						<div class="contact__content">
							<p class="contact__text">Email:</p>
							<p class="contact__text">info@resh76.ru</p>
						</div>
					</div>
					<div class="contact">
						<i class="d_icon d_icon-whatsapp contact__icon contact__icon--whatsapp"></i>
						<div class="contact__content">
							<div class="contact__link-container contact__link-container--green">
								<button id="questionModalOpenButton">
									<a class="contact__link">Задать вопрос</a>
								</button>
								<i class="d_icon d_icon-arrow-diagonal contact__link-icon"></i>
							</div>
						</div>
					</div>
					<div class="contact">
						<i class="d_icon d_icon-mark contact__icon"></i>
						<div class="contact__content">
							<p class="contact__text contact__text--large">ОФИС:</p>
							<p class="contact__text">152914, Ярославская обл., г.<br />Рыбинск, ул.Толбухина 8</p>
						</div>
					</div>
				</div>
				<nav class="footer__nav">
					<ul class="footer__list">
						<span class="h3 footer__subtitle">КАТАЛОГ</span>
						<li class="footer__item">
							<a href="#" class="footer__link">Комплектные трансформаторные<br />подстанции</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Комплектные распределительные<br />устройства</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Низковольтное комплектные<br />устройства</a>
						</li>
					</ul>
					<ul class="footer__list">
						<span class="h3 footer__subtitle">ИНФОРМАЦИЯ:</span>
						<li class="footer__item">
							<a href="#" class="footer__link">О компании</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Сотрудничество</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Контакты</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Документация</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Вакансии</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="container footer__map-services">
				<a href="#" class="footer__map-services-link">
					<img
						src="/assets/img/map-services/yandex.svg"
						alt="yandex maps"
						class="footer__map-service"
					/>
				</a>
				<a href="" class="footer__map-services-link">
					<img
						src="/assets/img/map-services/google.svg"
						alt="google maps"
						class="footer__map-service"
					/>
				</a>
				<a href="" class="footer__map-services-link">
					<img
						src="/assets/img/map-services/2gis.svg"
						alt="2gis maps"
						class="footer__map-service"
					/>
				</a>
			</div>
			<div class="container footer__privacy privacy">
				<div class="privacy__content">
					<img src="/assets/img/logo.svg" alt="logo" class="hidden-mobile-l" />
					<img src="/assets/img/logo-small.svg" alt="logo" class="visible-mobile-l" />
					<a href="#" class="footer__link privacy__link">Политика о конфиденциальности</a>
				</div>
			</div>
		</footer>

		<a href="#main" class="footer__up-button visible-mobile-l">
			<i class="d_icon d_icon-arrow-diagonal"></i>
		</a>

		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<script
			src="https://api-maps.yandex.ru/2.1/?apikey=9cc9371c-b0ef-422b-b0be-2b1d49e32386&lang=ru_RU"
			type="text/javascript"
		></script>
		<script src="../js/script.js" type="module"></script>
		<script src="../js/swipers.js" type="module"></script>
		<script src="../js/ymap.js" type="module"></script>
		<script src="../js/select.js" type="module"></script>
		<script src="../js/fancybox.js" type="module"></script>
		<script src="../js/modal.js" type="module"></script>
		<script src="../js/input-mask.js" type="module"></script>
	</body>
</html>
