<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>РЭЩ | Документация</title>
		<link rel="stylesheet" href="../styles/style.scss" />
	</head>
	<body>
		<div class="actions" id="actions">
			<button class="actions__close hidden-mobile-l" id="closeActions">
				<i class="d_icon d_icon-close"></i>
			</button>
			<div class="actions__button-container">
				<button class="actions__button">
					<i class="d_icon d_icon-calculator"></i>
					<p class="actions__text">Запросы на<br />расчет</p>
				</button>
				<button class="actions__button actions__button--dark" id="callbackModalOpenButton">
					<i class="d_icon d_icon-telephone"></i>
					<p class="actions__text">Обратный<br />звонок</p>
				</button>
				<button class="actions__button">
					<i class="d_icon d_icon-whatsapp"></i>
					<p class="actions__text">Написать в<br />WhatsApp</p>
				</button>
				<button class="actions__button hidden-mobile-l">
					<i class="d_icon d_icon-telegram"></i>
					<p class="actions__text">Телеграмм<br />канал РЭЩ</p>
				</button>
			</div>
		</div>

		<header class="container header header--white" id="header">
			<div class="space-between header__top hidden-tablet-l">
				<a href="/" class="header__logo-link hidden-desktop"
					><img src="/assets/img/logo.png" alt="logo" class="header__logo"
				/></a>
				<a href="/" class="header__logo-link visible-desktop"
					><img src="/assets/img/logo-small.png" alt="logo" class="header__logo"
				/></a>
				<div class="input__wrapper header__search-input">
					<input type="text" placeholder="Поиск по сайту" class="input" />
					<div class="input__button-wrapper">
						<button class="input__button">
							<i class="d_icon d_icon-search"></i>
						</button>
					</div>
				</div>
				<div class="header__location">
					<div class="header__location-title">
						<i class="d_icon d_icon-mark d_icon--red"></i>
						<span class="header__text">ПРОИЗВОДСТВО:</span>
					</div>
					<a
						href="https://yandex.ru/maps/geo/rybinsk/53057096/?ll=38.819432%2C58.063320&z=12.41"
						class="header__text header__text--big"
						>Ярославская обл. г. Рыбинск</a
					>
				</div>
				<div class="header__contacts">
					<a href="tel:89611561186" class="header__text header__text--telephone"
						>8 (961) 156-11-86</a
					>
					<p class="header__text">пн-пт 08:00 - 17:00</p>
				</div>
			</div>
			<div class="space-between header__menu hidden-tablet-l">
				<div class="hidden-tablet-l" id="desktopCatalogButton">
					<button class="my-button my-button--blue header__catalog-button">
						Каталог
						<i class="d_icon d_icon-menu catalog-button__icon"></i>
					</button>
					<!-- Каталог -->
					<div class="header__catalog catalog" id="catalog">
						<button class="catalog__item">
							<img src="/assets/img/products/block1.png" alt="" class="catalog__img" />
							<p class="catalog__text">Комплектные трансформаторные подстанции</p>
						</button>
						<button class="catalog__item">
							<img src="/assets/img/products/block1.png" alt="" class="catalog__img" />
							<p class="catalog__text">Комплектные распределительные устройства</p>
						</button>
						<button class="catalog__item">
							<img src="/assets/img/products/block1.png" alt="" class="catalog__img" />
							<p class="catalog__text">Низковольтные комплекттные устройства</p>
						</button>
					</div>
				</div>
				<nav class="header__nav">
					<ul class="header__nav-list">
						<li class="header__nav-item">
							<a href="/" class="header__nav-link">Главная</a>
						</li>
						<li class="header__nav-item">
							<div class="" id="servicesButton">
								<button class="header__nav-link">Услуги</button>
								<ul class="services" id="services">
									<li class="services__item">
										<a href="/services/1" class="services__link">Инжиниринговый центр</a>
									</li>
									<li class="services__item">
										<a href="/services/2" class="services__link">Электролаборатория</a>
									</li>
									<li class="services__item">
										<a href="/services/3" class="services__link">Лизинг оборудования</a>
									</li>
									<li class="services__item">
										<a href="/services/4" class="services__link">Услуги металлообработки</a>
									</li>
								</ul>
							</div>
						</li>
						<li class="header__nav-item">
							<a href="/projects" class="header__nav-link">Проекты</a>
						</li>
						<li class="header__nav-item">
							<a href="/documentation" class="header__nav-link">Документация</a>
						</li>
						<li class="header__nav-item">
							<a href="/about" class="header__nav-link">О предприятии</a>
						</li>
						<li class="header__nav-item">
							<a href="/partners" class="header__nav-link header__nav-link--active">Сотрудничество</a>
						</li>
						<li class="header__nav-item">
							<a href="/contacts" class="header__nav-link">Контакты</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="header__top visible-tablet-l">
				<a href="/" class="header__logo-link"
					><img src="/assets/img/logo-small.png" alt="logo" class="header__logo"
				/></a>
				<div class="header__contacts hidden-mobile-l">
					<a href="tel:89611561186" class="header__text header__text--telephone"
						>8 (961) 156-11-86</a
					>
					<p class="header__text">пн-пт 08:00 - 17:00</p>
				</div>
				<button
					class="my-button my-button--blue header__catalog-button catalog-button visible-tablet-l"
					id="catalogButton"
				>
					<i class="d_icon d_icon-menu catalog-button__icon"></i>
				</button>
				<button class="header__close-button close-button visible-tablet-l" id="closeCatalogButton">
					<i class="d_icon d_icon-close close-button__icon"></i>
				</button>
			</div>
			<div class="space-between header__menu visible-tablet-l" id="headerMenu">
				<details class="header__accordion accordion">
					<summary class="accordion__title">
						<p class="accordion__text">Каталог</p>
						<i class="d_icon d_icon-close accordion__icon"></i>
					</summary>
					<div class="block-container">
						<button class="block">
							<img src="/assets/img/products/block1.png" alt="block" class="block__img" />
							<p class="block__text">Комплектные трансформаторные подстанции</p>
						</button>
						<button class="block">
							<img src="/assets/img/products/block1.png" alt="block" class="block__img" />
							<p class="block__text">Комплектные трансформаторные подстанции</p>
						</button>
						<button class="block">
							<img src="/assets/img/products/block1.png" alt="block" class="block__img" />
							<p class="block__text">Комплектные трансформаторные подстанции</p>
						</button>
					</div>
				</details>
				<hr class="header__line" />
				<nav class="header__nav">
					<ul class="header__nav-list">
						<li class="header__nav-item">
							<a href="/" class="header__nav-link">Главная</a>
						</li>
						<li class="header__nav-item">
							<details class="header__accordion accordion">
								<summary class="accordion__title">
									<p class="accordion__text">Услуги</p>
									<i class="d_icon d_icon-close accordion__icon"></i>
								</summary>
								<div class="service-container">
									<a href="/services/1" class="header__nav-link">Название услуги 1</a>
									<a href="/services/2" class="header__nav-link">Название услуги 2</a>
									<a href="/services/3" class="header__nav-link">Название услуги 3</a>
								</div>
							</details>
						</li>
						<li class="header__nav-item">
							<a href="/projects" class="header__nav-link">Проекты</a>
						</li>
						<li class="header__nav-item">
							<a href="/documentation" class="header__nav-link">Документация</a>
						</li>
						<li class="header__nav-item">
							<a href="/about" class="header__nav-link">О предприятии</a>
						</li>
						<li class="header__nav-item">
							<details class="header__accordion accordion">
								<summary class="accordion__title accordion__title--sub">
									<p class="accordion__text">Сотрудничество</p>
									<i class="d_icon d_icon-close accordion__icon"></i>
								</summary>
								<div class="service-container">
									<a href="/services/1" class="header__nav-link">Название услуги 1</a>
									<a href="/services/2" class="header__nav-link">Название услуги 2</a>
									<a href="/services/3" class="header__nav-link">Название услуги 3</a>
								</div>
							</details>
						</li>
						<li class="header__nav-item">
							<a href="/contacts" class="header__nav-link">Контакты</a>
						</li>
					</ul>
				</nav>
				<hr class="header__line" />
				<button class="my-button my-button--blue header__menu-button">
					Перейти на наш тг канал
					<i class="d_icon d_icon-telegram"></i>
				</button>
				<div class="header__button-container">
					<div class="input__wrapper header__search-input">
						<input type="text" placeholder="+ 7 (999) 999-99-99" class="telephone" />
					</div>
					<button class="my-button my-button--red header__button">
						Получить КП под ваш запрос
						<i class="d_icon d_icon-arrow-diagonal"></i>
					</button>
					<p class="header__text">
						Нажимая на кнопку, вы соглашаетесь с
						<span class="header__text header__text--red"
							>политикой по обработке персональных данных</span
						>
					</p>
				</div>
			</div>
		</header>
		<main class="main documentation-main">
			<section
				class="container about-production__about about-production-about partners-about"
				id="about"
			>
				<div class="section-border-radius about-production-about__content partners-about__content">
					<span class="h1 about-production-about__title"
						><span class="blue">ПАРТНЕРСКАЯ</span> ПРОГРАММА</span
					>
					<p class="about-production-about__text">ПОДЗАГОЛОВОК</p>
					<div class="about-production-about__button-container">
						<button class="my-button my-button--red about-production-about__button">
							Скачать анкету партнера
							<i class="d_icon d_icon-upload"></i>
						</button>
						<button class="my-button my-button--transparent about-production-about__button">
							Отправить анкету
							<i class="d_icon d_icon-paper-clip"></i>
						</button>
					</div>
				</div>
			</section>

			<section class="container electrolaboratory-director partners-director">
				<header class="about__header partners-director__header">
					<div class="title about__title">
						<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
						<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
						<span class="h2">ОБРАЩЕНИЕ<span class="blue"> РУКОВОДИТЕЛЯ</span></span>
					</div>
				</header>
				<main class="about-production-director__main partners-director__main">
					<img
						src="/assets/img/persons/person5.png"
						alt="director"
						class="about-production-director__img partners-director__img"
					/>
					<div class="about-production-director__content partners-director__content">
						<p class="electrolaboratory-director__text">
							Уважаемые партнеры!От лица ООО «РЫБИНСКЭЛЕКТРОЩИТ» приглашаем вас к сотрудничеству. Мы
							ищем надежных партнеров, которые разделяют наши ценности и стремятся к успеху, чтобы
							вместе создать долгосрочные и взаимовыгодные отношения.
						</p>
						<p class="electrolaboratory-director__text electrolaboratory-director__text--small">
							Мы уверены, что объединив усилия, мы сможем достичь впечатляющих результатов и
							построить успешный совместный проект.<br />
							Мы ценим надежное и прозрачное партнерство, а также стремимся к постоянному развитию и
							улучшению наших процессов.ООО «РЫБИНСКЭЛЕКТРОЩИТ» уже известно : высоким качеством
							продукции, квалифицированными специалистами, инновационными решениями", отличным
							сервисом и репутацией.Мы открыты к обсуждению возможных направлений сотрудничества и
							готовы рассмотреть ваши предложения.
						</p>
						<p class="electrolaboratory-director__text electrolaboratory-director__text--small">
							С уважением, Конышев сергей Анатольевич,<br />
							<span class="blue">директор производственных участков.</span>
						</p>

						<button
							class="my-button my-button--blue about-production-director__button electrolaboratory-director__button hidden-mobile-l"
						>
							Написать руководителю
							<i class="d_icon d_icon-mail"></i>
						</button>
					</div>
				</main>
			</section>

			<section class="section-border-radius container advantages solutions">
				<div class="title about__title">
					<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
					<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
					<span class="h2"><span class="blue">БОНУСНАЯ ПРОГРАММА</span> ДЛЯ НАШИХ ПАРТНЕРОВ</span>
				</div>
				<div class="swiper">
					<div class="advantages__card-container solutions__card-container swiper-wrapper">
						<div class="advantages__card advantage-card solutions__card solution-card swiper-slide">
							<header class="advantage-card__header solution-card__header">
								<p class="advantage-card__index solution-card__index">1</p>
								<i class="d_icon d_icon-search-accept"></i>
							</header>
							<hr class="solution-card__line" />
							<span class="h3 advantage-card__title solution-card__title"
								>Скидка на всю продукцию</span
							>
							<p class="advantage-card__text solution-card__text">
								постоянную скидку на всю продукцию завода, специальные цены на демонстрационные
								образцы техники
							</p>
						</div>
						<div class="advantages__card advantage-card solutions__card solution-card swiper-slide">
							<header class="advantage-card__header solution-card__header">
								<p class="advantage-card__index solution-card__index">2</p>
								<i class="d_icon d_icon-doc"></i>
							</header>
							<hr class="solution-card__line" />
							<span class="h3 advantage-card__title solution-card__title">
								Обучение на нашем предприятии
							</span>
							<p class="advantage-card__text solution-card__text">
								обучение на нашем заводе, получение всех навыков и знаний, связанных с особенностями
								нашего оборудования, его установкой и настройкой
							</p>
						</div>
						<div class="advantages__card advantage-card solutions__card solution-card swiper-slide">
							<header class="advantage-card__header solution-card__header">
								<p class="advantage-card__index solution-card__index">3</p>
								<i class="d_icon d_icon-check-mark"></i>
							</header>
							<hr class="solution-card__line" />
							<span class="h3 advantage-card__title solution-card__title"
								>Реализация продукции</span
							>
							<p class="advantage-card__text solution-card__text">
								возможность самостоятельной реализации продукции конечным потребителям в
								соответствии с условиями Договора и рыночными ценами
							</p>
						</div>
						<div class="advantages__card advantage-card solutions__card solution-card swiper-slide">
							<header class="advantage-card__header solution-card__header">
								<p class="advantage-card__index solution-card__index">4</p>
								<i class="d_icon d_icon-settings"></i>
							</header>
							<hr class="solution-card__line" />
							<span class="h3 advantage-card__title solution-card__title">
								Предоставление документации
							</span>
							<p class="advantage-card__text solution-card__text">
								предоставление необходимой документации и рекламных материалов, профессиональная
								консультативная поддержка
							</p>
						</div>
						<div class="advantages__card advantage-card solutions__card solution-card swiper-slide">
							<header class="advantage-card__header solution-card__header">
								<p class="advantage-card__index solution-card__index">5</p>
								<i class="d_icon d_icon-key"></i>
							</header>
							<hr class="solution-card__line" />
							<span class="h3 advantage-card__title solution-card__title">
								Участие в общих мероприятиях
							</span>
							<p class="advantage-card__text solution-card__text">
								право на участие в общих мероприятиях, организованных нашим заводом, тем самым
								увеличивая клиентскую базу и укрепляя отношения с уже существующими клиентами
							</p>
						</div>
						<div class="advantages__card advantage-card solutions__card solution-card swiper-slide">
							<header class="advantage-card__header solution-card__header">
								<p class="advantage-card__index solution-card__index">6</p>
								<i class="d_icon d_icon-shield-person"></i>
							</header>
							<hr class="solution-card__line" />
							<span class="h3 advantage-card__title solution-card__title">
								Индивидуальные условия покупки оборудования
							</span>
							<p class="advantage-card__text solution-card__text">
								возможность получения товарного кредита, отсрочки платежа
							</p>
						</div>
					</div>
				</div>
			</section>

			<section class="container section-border-radius products project-letter partners-letter">
				<div class="products__card product-card project-letter__info-wrapper">
					<div class="product-card__content project-letter__info partners-letter__info">
						<div class="title about__title">
							<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
							<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
							<span class="h2">КАК СТАТЬ<span class="blue"> НАШИМ ПАРТНЁРОМ</span></span>
						</div>
						<img
							src="/assets/img/background/bg-partners2.png"
							alt=""
							class="project-letter__img visible-tablet-l"
						/>
						<div class="product-card__advantages">
							<div class="product-card__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="product-card__text">
									Посмотрите информацию на нашем сайте: наши услуги, возможности, преимущества….
								</p>
							</div>
							<div class="product-card__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="product-card__text">
									Скачайте анкету партнера , заполните и отправьте нам.
								</p>
							</div>
							<div class="product-card__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="product-card__text">Подпишите договор о сотрудничестве.</p>
							</div>
							<div class="product-card__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="product-card__text">Получите сертификат партнера.</p>
							</div>
							<div class="product-card__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="product-card__text">Начните получать преимущества от партнерства!</p>
							</div>
							<div class="product-card__input-container">
								<div class="my-checkbox my-checkbox--small">
									<i class="d_icon d_icon-check my-checkbox__icon"></i>
								</div>
								<p class="product-card__text">Начните получать преимущества от партнерства!</p>
							</div>
						</div>
					</div>
				</div>
				<img
					src="/assets/img/background/bg-partners2.png"
					alt=""
					class="project-letter__img hidden-tablet-l"
				/>
			</section>

			<section class="section-border-radius container advantages partners-factors">
				<div class="title">
					<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
					<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
					<span class="h2"
						><span class="blue">ФАКТОРЫ, КОТОРЫЕ МЫ УЧИТЫВАЕМ</span> ПРИ ВЫБОРЕ ПАРТНЕРОВ</span
					>
				</div>
				<div class="swiper advantages__swiper">
					<div class="advantages__card-container swiper-wrapper">
						<div class="advantages__card advantage-card swiper-slide">
							<p class="advantage-card__index">1</p>
							<span class="h3 advantage-card__title partners-factors__title"
								>Официальная компания</span
							>
							<p class="advantage-card__text">которая зарегистрирована в налоговом органе</p>
						</div>
						<div class="advantages__card advantage-card swiper-slide">
							<p class="advantage-card__index">2</p>
							<span class="h3 advantage-card__title partners-factors__title"
								>Опыт работы не менее 3 лет</span
							>
							<p class="advantage-card__text">в сфере продаж электротехнического оборудования</p>
						</div>
						<div class="advantages__card advantage-card swiper-slide">
							<p class="advantage-card__index">3</p>
							<span class="h3 advantage-card__title partners-factors__title"
								>Отсутствие договоров</span
							>
							<p class="advantage-card__text">
								с другими производителями профильного электрооборудования, которые могли бы
								ограничить дилерскую деятельность
							</p>
						</div>
						<div class="advantages__card advantage-card swiper-slide">
							<p class="advantage-card__index">4</p>
							<span class="h3 advantage-card__title partners-factors__title"
								>Профессиональный прерсонал</span
							>
							<p class="advantage-card__text">
								наличие профессионального персонала, осуществляющего продажи
							</p>
						</div>
						<div class="advantages__card advantage-card swiper-slide">
							<p class="advantage-card__index">5</p>
							<span class="h3 advantage-card__title partners-factors__title"
								>Cтабильное положение на рынке</span
							>
							<p class="advantage-card__text">
								отсутствие задолженностей в больших размерах, отрицательной динамики доходов за
								ближайшие отчетные периоды
							</p>
						</div>
						<div class="advantages__card advantage-card swiper-slide">
							<p class="advantage-card__index">6</p>
							<span class="h3 advantage-card__title partners-factors__title"
								>Организация мероприятий</span
							>
							<p class="advantage-card__text">
								наличие ресурсов и возможностей для организации совместных мероприятий по
								продвижению нашей продукции
							</p>
						</div>
					</div>
				</div>
			</section>

			<section class="container partners-sertificate">
				<header class="about__header">
					<div class="title about__title">
						<i class="d_icon d_icon-title-mark title__icon hidden-mobile-l"></i>
						<i class="d_icon d_icon-title-mark-small title__icon visible-mobile-l"></i>
						<span class="h2">УЖЕ<span class="blue"> НАШИ ПАРТНЁРЫ</span></span>
					</div>
					<button
						class="my-button my-button--red about__button justify-content-center partners-sertificate__button hidden-mobile-l"
					>
						Подробнее
						<i class="d_icon d_icon-arrow-diagonal"></i>
					</button>
				</header>
				<main class="partners-sertificate__main">
					<div class="partners-sertificate__img-container hidden-tablet-l">
						<img
							src="/assets/img/partners/sertificate.png"
							alt="sertificate"
							class="partners-sertificate__img"
						/>
						<img
							src="/assets/img/partners/sertificate.png"
							alt="sertificate"
							class="partners-sertificate__img"
						/>
						<img
							src="/assets/img/partners/sertificate.png"
							alt="sertificate"
							class="partners-sertificate__img"
						/>
					</div>
					<div class="docs-swiper visible-tablet-l">
						<div class="swiper-wrapper">
							<img
								src="/assets/img/partners/sertificate.png"
								alt="sertificate"
								class="partners-sertificate__img swiper-slide"
							/>
							<img
								src="/assets/img/partners/sertificate.png"
								alt="sertificate"
								class="partners-sertificate__img swiper-slide"
							/>
							<img
								src="/assets/img/partners/sertificate.png"
								alt="sertificate"
								class="partners-sertificate__img swiper-slide"
							/>
						</div>
					</div>
				</main>
				<button
					class="my-button my-button--red about__button justify-content-center partners-sertificate__button visible-mobile-l"
				>
					Подробнее
					<i class="d_icon d_icon-arrow-diagonal"></i>
				</button>
			</section>

			<section class="container about-production__about about-production-about partners-help">
				<div
					class="section-border-radius about-production-about__content partners-about__content partners-help__content"
				>
					<p class="about-production-about__text">
						<span class="blue">У ВАС ТЕНДЕР?</span> МЫ ГОТОВЫ ПОМОЧЬ
					</p>
					<div class="partners-help__text-container">
						<p class="partners-help__text">
							Компания РЭЩ постоянный участник тендеров по поставкам электротехнического
							оборудования на территории России.
						</p>
						<p class="partners-help__text">
							Участвуем в конкурсах и аукционах, проводимых по процедурам:
						</p>
						<ul class="partners-help__list">
							<li class="partners-help__item">Федерального закона №44-ФЗ от 05.04.2013</li>
							<li class="partners-help__item">Федерального закона №223-ФЗ от 18.07.2011</li>
						</ul>
					</div>
					<button class="my-button my-button--red about-production-about__button width-fit-content" id="tenderModalOpenButton">
						Отправить информацию о тендере
						<i class="d_icon d_icon-arrow-diagonal"></i>
					</button>
				</div>
			</section>
		</main>
		<footer class="footer about-production-footer">
			<div class="footer__map">
				<div id="ymap" class="footer__map-img">
					<!-- <img src="/assets/img/map.png" alt="map" class="footer__map-img" /> -->
				</div>

				<button class="my-button my-button--blue footer__button">
					Скачать схему проезда
					<i class="d_icon d_icon-upload"></i>
				</button>

				<button class="footer__up-button hidden-mobile-l">
					<i class="d_icon d_icon-arrow-diagonal"></i>
				</button>
			</div>
			<div class="container footer__content">
				<div class="footer__contacts contacts">
					<div class="contacts__contact contact">
						<i class="d_icon d_icon-telephone contact__icon"></i>
						<div class="contact__content">
							<p class="contact__text">пн-пт 08:00 - 17:00</p>
							<p class="contact__text contact__text--large">8 (961) 156-11-86</p>
							<div class="contact__link-container">
								<a href="#" class="contact__link">Быстрая консультация</a>
								<i class="d_icon d_icon-arrow-diagonal contact__link-icon"></i>
							</div>
						</div>
					</div>
					<div class="contact">
						<i class="d_icon d_icon-mail contact__icon"></i>
						<div class="contact__content">
							<p class="contact__text">Email:</p>
							<p class="contact__text">info@resh76.ru</p>
						</div>
					</div>
					<div class="contact">
						<i class="d_icon d_icon-whatsapp contact__icon contact__icon--whatsapp"></i>
						<div class="contact__content">
							<div class="contact__link-container contact__link-container--green">
								<button id="questionModalOpenButton">
									<a class="contact__link">Задать вопрос</a>
								</button>
								<i class="d_icon d_icon-arrow-diagonal contact__link-icon"></i>
							</div>
						</div>
					</div>
					<div class="contact">
						<i class="d_icon d_icon-mark contact__icon"></i>
						<div class="contact__content">
							<p class="contact__text contact__text--large">ОФИС:</p>
							<p class="contact__text">152914, Ярославская обл., г.<br />Рыбинск, ул.Толбухина 8</p>
						</div>
					</div>
				</div>
				<nav class="footer__nav">
					<ul class="footer__list">
						<span class="h3 footer__subtitle">КАТАЛОГ</span>
						<li class="footer__item">
							<a href="#" class="footer__link">Комплектные трансформаторные<br />подстанции</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Комплектные распределительные<br />устройства</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Низковольтное комплектные<br />устройства</a>
						</li>
					</ul>
					<ul class="footer__list">
						<span class="h3 footer__subtitle">ИНФОРМАЦИЯ:</span>
						<li class="footer__item">
							<a href="#" class="footer__link">О компании</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Сотрудничество</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Контакты</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Документация</a>
						</li>
						<li class="footer__item">
							<a href="#" class="footer__link">Вакансии</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="container footer__map-services">
				<a href="#" class="footer__map-services-link">
					<img
						src="/assets/img/map-services/yandex.svg"
						alt="yandex maps"
						class="footer__map-service"
					/>
				</a>
				<a href="" class="footer__map-services-link">
					<img
						src="/assets/img/map-services/google.svg"
						alt="google maps"
						class="footer__map-service"
					/>
				</a>
				<a href="" class="footer__map-services-link">
					<img
						src="/assets/img/map-services/2gis.svg"
						alt="2gis maps"
						class="footer__map-service"
					/>
				</a>
			</div>

			<div class="container footer__privacy privacy">
				<div class="privacy__content">
					<img src="/assets/img/logo.png" alt="logo" class="hidden-mobile-l" />
					<img src="/assets/img/logo-small.png" alt="logo" class="visible-mobile-l" />
					<a href="#" class="footer__link privacy__link">Политика о конфиденциальности</a>
				</div>
			</div>
		</footer>

		<a href="#main" class="footer__up-button visible-mobile-l">
			<i class="d_icon d_icon-arrow-diagonal"></i>
		</a>

		<!-- Tender modal -->
		<div class="modal__overlay" id="tenderModal">
			<button
				type="button"
				class="modal__close hidden-tablet tenderModalCloseButton"
				data-modal="close"
			>
				<i class="d_icon d_icon-close"></i>
			</button>

			<form class="modal">
				<button type="button" class="modal__close visible-tablet tenderModalCloseButton">
					<i class="d_icon d_icon-close"></i>
				</button>

				<span class="h3 modal__title">Отправить информаци о тендере</span>

				<div class="modal__input-container">
					<input type="text" placeholder="ФИО*" tag="form" class="modal__input" />
					<input type="tel" placeholder="+7 (___) ___-__-__*" tag="form" class="modal__input" />
					<input type="email" placeholder="Ваш E-mail*" tag="form" class="modal__input" />
					<input type="text" placeholder="Организация" tag="form" class="modal__input" />
				</div>

				<div class="modal__button-container">
					<div class="modal__button-wrapper">
						<button class="modal__button">
							Прикрепить файл
							<i class="d_icon d_icon-paper-clip"></i>
						</button>
					</div>
					<p class="modal__text black">Вы можете загрузить условия тендера, ТЗ и т.д.</p>
				</div>

				<p class="modal__text">
					Подготовка расчёта может занять 3-4 рабочих дня. Руководитель проекта свяжется с вами для
					дальнейшей проработки заказа.
				</p>

				<div class="modal__submit-container">
					<div class="input-checkbox__wrapper">
						<input type="checkbox" class="input-checkbox" id="acception" />
						<label for="acception" class="input-checkbox__label">
							<i class="d_icon d_icon-check input-checkbox__icon"></i>
						</label>
						<label for="acception" class="input-checkbox__span">
							Согласие на обработку
							<a href="#" class="modal__link">персональных данных</a>
						</label>
					</div>
					<button class="my-button my-button--red modal__submit-button">
						Отправить
						<i class="d_icon d_icon-arrow-diagonal"></i>
					</button>
				</div>
			</form>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
		<script
			src="https://api-maps.yandex.ru/2.1/?apikey=9cc9371c-b0ef-422b-b0be-2b1d49e32386&lang=ru_RU"
			type="text/javascript"
		></script>
		<script src="../js/script.js" type="module"></script>
		<script src="../js/swipers.js" type="module"></script>
		<script src="../js/ymap.js" type="module"></script>
		<script src="../js/select.js" type="module"></script>
		<script src="../js/fancybox.js" type="module"></script>
		<script src="../js/modal.js" type="module"></script>
	</body>
</html>
