.catalog-about {
	margin-top: 100px;

	@include tablet-l {
		margin-top: 190px;
	}

	@include mobile-l {
		padding: 0;
	}

	&__content {
		@include flex-direction;
		@include fluid-property(gap, 25, 60);
		@include fluid-property(border-radius, 20, 30);
		@include fluid-property(padding-block, 60, 65);
		@include fluid-property(padding-inline, 50, 85);

		background-color: var(--white-color);
		position: relative;
		overflow: hidden;
	}

	&__img {
		@include adaptive-property(height, 290, 515);

		position: absolute;
		top: 50%;
		right: 55px;
		translate: 0 -50%;

		z-index: 1;

		@include mobile-l {
			position: static;
			translate: 0;
		}
	}

	&__text-container {
		@include flex-direction;
		@include fluid-property(gap, 15, 60);
	}

	&__title,
	&__span,
	&__button-container {
		position: relative;
		z-index: 2;
	}

	&__title {
		@include adaptive-property(font-size, 24, 70);
	}

	&__span {
		@include adaptive-property(font-size, 16, 46);
	}

	&__advantages,
	.catalog-about-advantages {
		@include adaptive-property(margin-inline, 50, 80);
		@include fluid-property(margin-top, 60, 80);

		&__list {
			@include flex-direction(row);
			@include fluid-property(gap, 30, 70);
            justify-content: center;

            @include desktop {
                flex-wrap: wrap;
            }

			@include tablet-l {
				justify-content: flex-start;
			}

            @include tablet {
                justify-content: flex-start;
            }
		}

		&__item {
			@include flex-direction(row, 30px);
            max-width: 420px;
		}

		&__icon {
			@include fluid-property(padding, 8, 16);
			border: 4px solid #5ac5ef;
            border-radius: 50%;

            height: fit-content;

			&::before {
				@include fluid-text(20, 34);
                color: var(--white-color);
			}
		}

		&__text-container {
            @include flex-direction($gap: 16px);
		}

		&__title {
            @include fluid-text(18, 30);
            line-height: 1;
		}

		&__text {
            @include fluid-text(14, 18);
            line-height: 1.4;
		}
	}
}
