.services-about {

    @include mobile-l {
        padding: 0;
		width: auto;
    }

	&__content {
		background: linear-gradient(270.72deg, rgba(0, 106, 171, 0.76) -3.62%, #004875 98.19%),
			url("/assets/img/background/bg-services.png") no-repeat center center / cover;
	}
}
