.about {
	@include flex-direction($gap: 60px);
	margin-top: 20px;

	&__header {
		@include flex-direction(row, 20px);
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;

		.about__button {
			min-width: 335px;
			height: 60px;
			padding-inline: 32px;

			@include tablet {
				min-width: 100%;
			}
		}
	}

	&__content {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		flex-wrap: wrap;
		gap: 42px;

		.about__advantages {
			@include flex-direction($gap: 40px);
		}

		.about__input-container {
			display: flex;
			align-items: center;
			gap: 35px;

			@include mobile-l {
				gap: 20px;
			}
		}
	}

	&__img-container {
		border-radius: $border-radius-large;

		max-height: 590px;
		max-width: 760px;

		width: 100%;
		position: relative;

		.about__img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		.about__img-span {
			@include flex-center;

			position: absolute;
			right: 26px;
			bottom: 22px;

			backdrop-filter: blur(20px);
			border-radius: 25px;
			color: var(--white-color);
			font-size: 18px;
			font-weight: 400;

			height: 45px;
			padding-inline: 20px;
			z-index: 10;

			@include mobile-l {
				right: 50%;
				bottom: 8px;
				translate: 50% 0;
				width: calc(100% - 23px * 2);
			}
		}
	}
}
