.advantages {
	@include flex-direction($gap: 80px);
	background-color: var(--primary-alt-color);
	padding-block: 120px;
	overflow: hidden;

	&__title {
	}

	&__card-container {
	}

	&__swiper,
	.swiper {
		overflow: visible;
		max-width: 100%;

		.swiper-wrapper {
			align-items: stretch;
		}

		.swiper-slide {
			height: auto;
		}
	}

	&__card,
	.advantage-card {
		@include flex-direction($gap: 30px);

		background-color: var(--white-color);
		border-radius: $border-radius-large;

		flex-shrink: 0;
		flex-grow: 1;

		max-width: 370px;
		width: 370px;
		padding: 36px 25px;

		transition: all linear .5s;

		@include tablet {
			width: clamp(268px, #{calc(370 * 100 / 768)}vw, 370px);
			gap: clamp(20px, #{calc(30 * 100 / 768)}vw, 30px);
			padding: 18px;
		}

		@include mobile-l {
			gap: 20px;
		}

		&:hover {
			background: linear-gradient(89.66deg, #006aab 40.17%, #004875 99.07%);

			i::before {
				color: var(--thirdy-color);
			}

			.advantage-card__index {
				background-color: var(--thirdy-color);
				color: var(--thirdy-alt-color);
			}

			.advantage-card__title,
			.advantage-card__text {
				color: var(--white-color);
			}
		}

		&__index {
			@include flex-center;
			@include fluid-property(width, 60, 100);
			@include fluid-property(height, 40, 66);
			@include fluid-property(font-size, 24, 40);
			@include fluid-property(border-radius, 10, 20);

			background-color: var(--thirdy-alt-color);
			color: var(--white-color);
			line-height: 1;

			align-self: center;
			flex-shrink: 0;

			margin-bottom: 5px;
		}

		&__title,
		&__text {
			color: var(--thirdy-alt-color);
		}

		&__title {
			font-size: 32px;
			font-weight: 400;
			line-height: 1;
		}

		&__text {
			font-size: 18px;

			@include tablet {
				font-size: clamp(16px, #{calc(18 * 100 / 768)}vw, 18px);
			}
		}
	}
}
