.advantages {
	@include flex-direction($gap: 80px);
	background-color: var(--primary-alt-color);
	padding-block: 120px;
	overflow: hidden;

	&__title {
	}

	&__card-container {
	}

	&__swiper,
	.swiper {
		overflow: visible;
		max-width: 100%;

		.swiper-wrapper {
			align-items: stretch;
		}

		.swiper-slide {
			height: auto;
		}
	}

	&__card,
	.advantage-card {
		@include flex-direction($gap: 30px);

		background-color: var(--white-color);
		border-radius: $border-radius-large;

		flex-shrink: 0;
		flex-grow: 1;

		max-width: 370px;
		width: 370px;
		padding: 36px 25px;

		transition-duration: 0.5s;

		@include tablet {
			width: clamp(268px, #{calc(370 * 100 / 768)}vw, 370px);
			padding: 18px;
		}

		@include mobile-l {
		}

		&:hover {
			background: linear-gradient(89.66deg, #006aab 40.17%, #004875 99.07%);

			i::before {
				color: var(--thirdy-color);
			}

			.advantage-card__index {
				background-color: var(--thirdy-color);
				color: var(--thirdy-alt-color);
			}

			.advantage-card__title,
			.advantage-card__text {
				color: var(--white-color);
			}
		}

		&__index {
			@include flex-center;

			background-color: var(--thirdy-alt-color);
			border-radius: 20px;
			color: var(--white-color);
			font-size: 40px;
			line-height: 1;

			align-self: center;
			flex-shrink: 0;

			width: 100px;
			height: 66px;
			margin-bottom: 5px;

			@include tablet {
				width: clamp(50px, #{calc(100 * 100 / 768)}vw, 100px);
			}
		}

		&__title,
		&__text {
			color: var(--thirdy-alt-color);
		}

		&__title {
			font-size: 32px;
			font-weight: 400;
			line-height: 1;
		}

		&__text {
			line-height: 25px;
		}
	}
}
