.footer {
	background-color: var(--primary-color);

	&__map {
		@include flex-direction($gap: 30px);

		border-top-left-radius: 60px;
		border-top-right-radius: 60px;

		max-height: 900px;
		height: 900px;

		position: relative;
		overflow: hidden;

		@include tablet-l {
			height: clamp(300px, #{calc(900 * 100 / 1024)}vw, 900px);
		}

		@include mobile-l {
			@include section-border-radius;
			padding-bottom: 60px;
		}
	}

	&__map-img {
		width: 100%;
		height: 100%;

		overflow: hidden;

		@include mobile-l {
			@include section-border-radius;
		}
	}

	&__mark {
		position: absolute;
		top: 15px;
		left: 55%;

		width: 10%;
	}

	&__button {
		position: absolute;
		top: 60px;
		right: clamp(50px, #{calc(192 * 100 / 1920)}vw, 192px);

		font-size: 20px;
		font-weight: 700;

		padding-inline: 58px;

		@include tablet-s {
			right: 0;
		}

		@include mobile-l {
			font-size: 14px;
			position: static;
			margin-inline: 50px;
			padding-inline: 45px;
			min-width: fit-content;
		}
	}

	&__up-button {
		@include flex-center;

		background-color: var(--thirdy-color);
		border-radius: $border-radius;

		position: absolute;
		bottom: 60px;
		right: clamp(50px, #{calc(192 * 100 / 1920)}vw, 192px);

		width: 60px;
		aspect-ratio: 1;

		z-index: 10;

		& i {
			rotate: -45deg;

			&::before {
				color: var(--white-color);
				font-size: 13px;
			}
		}

		@include mobile-l {
			position: fixed;
			right: 50px;
			bottom: 95px;
		}
	}

	&__content {
		@include flex-direction(row, clamp(20px, #{calc(50 * 100 / 1920)}vw, 50px));
		justify-content: space-between;
		flex-wrap: wrap;

		position: relative;

		@include mobile-l {
			padding: 0;
		}
	}

	&__contacts,
	.contacts {
		@include flex-direction($gap: 25px);

		background-color: rgba(0, 106, 171, 1);
		border-radius: $border-radius-large;

		padding: 40px 90px 40px 65px;
		// max-width: 440px;

		translate: 0 -50px;

		@include mobile-l {
			padding: 40px 50px;
			width: 100%;
			translate: 0;
		}

		&__contact,
		.contact {
			@include flex-direction(row, 30px);
			align-items: center;

			&__icon {
				@include flex-center;

				border: 2px solid var(--thirdy-color);
				border-radius: 50%;

				width: 40px;
				height: 40px;
				min-width: 40px;
				min-height: 40px;

				&::before {
					color: var(--thirdy-color);
					font-size: 16px;
				}

				&--whatsapp {
					border: none;
					background-color: #25d366;

					&::before {
						color: var(--white-color);
						font-size: 20px;
					}
				}
			}

			&__text {
				font-size: 16px;
				line-height: 21px;

				&--large {
					font-size: 24px;
					line-height: 32px;
				}
			}

			&__link-container {
				@include flex-direction(row, 20px);
				align-items: center;

				.contact__link-icon {
					width: 24px;
					height: 24px;

					&::before {
						color: var(--thirdy-color);
						font-size: 13px;
					}
				}

				&--green {
					.contact__link {
						color: rgba(37, 211, 102, 1);
						border-color: rgba(37, 211, 102, 1);
					}

					.contact__link-icon::before {
						color: rgba(37, 211, 102, 1);
					}
				}
			}

			&__link {
				color: var(--white-color);
				border-color: var(--white-color);
				font-size: 15px;
				line-height: 20px;
			}
		}
	}

	&__nav {
		@include flex-direction(row, clamp(10px, #{calc(160 * 100 / 1920)}vw, 160px));
		justify-content: space-between;
		flex-wrap: wrap;

		border-right: 2px solid rgba(90, 197, 239, 0.5);

		margin-top: 60px;
		padding-right: 50px;

		@include desktop {
			width: 100%;
		}

		@include mobile-l {
			@include container;
		}
	}

	&__list {
		@include flex-direction($gap: 25px);

		@include tablet {
			gap: clamp(15px, #{calc(25 * 100 / 768)}vw, 25px);
		}
	}

	&__subtitle {
		color: var(--white-color);
		font-size: 26px;
		font-weight: 400;
		margin-bottom: 5px;

		@include tablet {
			font-size: clamp(20px, #{calc(26 * 100 / 768)}vw, 26px);
		}
	}

	&__item {
	}

	&__link {
		color: var(--thirdy-color);
		border: none;
		font-size: 20px;
		line-height: 26px;
	}

	&__map-services {
		@include flex-direction(row, 25px);
		justify-content: space-between;

		margin-block: 80px;
	}

	&__map-services-link {
		border: none;
	}

	&__privacy,
	.privacy {
		margin-bottom: 170px;

		@include tablet {
			margin-bottom: clamp(36px, #{calc(170 * 100 / 768)}vw, 170px);
		}

		@include mobile-l {
			text-align: center;
			padding: 0;
		}

		&__content {
			@include flex-direction(row, 15px);
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;

			background-color: var(--white-color);
			border-radius: $border-radius;
			padding: 25px 68px;

			@include mobile-l {
				justify-content: center;
				padding: 14px;
			}
		}

		&__link {
			color: var(--thirdy-alt-color);
		}
	}
}
