.main {
	@include flex-direction($gap: 120px);

	background-color: var(--primary-color);
	position: relative;
	min-height: 100vmax;

	@include mobile-l {
		gap: 60px;
	}

	&__title {
		font-size: clamp(24px, #{calc(70 * 100 / 1920)}vw, 70px);
		line-height: 1;
		font-weight: 700;

		&--blue {
			color: var(--primary-color);
		}

		@include mobile-l {
			display: flex;
			flex-wrap: wrap;
		}

		@include mobile-l-horizontal {
			font-size: 22px;
		}
	}

	&__home {
		@include flex-center;
		@include section-border-radius;

		gap: clamp(25px, #{calc(190 * 100 / 1920)}vw, 190px);

		// justify-content: space-between;

		border-top-left-radius: 0;
		border-top-right-radius: 0;

		background: url("/assets/img/background/bg-main.png") no-repeat center center / cover;
		position: relative;
		height: 100dvh;

		@include tablet {
			min-height: fit-content;
		}

		@include mobile-l {
			@include flex-center;
		}
	}

	&__content,
	.main-content {
		@include flex-direction();

		border-radius: $border-radius-large;
		backdrop-filter: blur(20px);
		padding: 65px;

		// position: absolute;
		left: clamp(50px, #{calc(192 * 100 / 1920)}vw, 192px);
		bottom: clamp(50px, #{calc(192 * 100 / 1920)}vw, 192px);

		margin-inline: clamp(50px, #{calc(192 * 100 / 1920) - 2}vw, 192px);
		margin-bottom: clamp(35px, #{calc(190 * 100 / 1920) - 2}vw, 190px);

		width: fit-content;

		@include tablet-l {
			margin-top: 100px;
			position: static;
		}

		@include mobile-l {
			gap: 25px;
			padding: 30px 20px;
			margin-inline: 30px;
		}

		@include mobile-l-horizontal {
			margin-inline: 25px;
			margin-bottom: 25px;
			max-height: 65dvh;
			padding: 20px;

			.main-content__line {
				margin-block: 10px;
			}
		}

		&__line {
			background-color: var(--thirdy-alt-color);
			border: none;
			border-bottom-left-radius: 30px;
			border-bottom-right-radius: 30px;
			height: 4px;
			width: 50%;
			margin-block: 32px 65px;
		}

		&__location {
		}

		&__text {
			font-size: 18px;
		}

		&__button-container {
			display: flex;
			flex-direction: row;
			gap: 15px;

			@include tablet-l {
				flex-wrap: wrap;
			}

			@include mobile-l-horizontal {
				gap: 8px;
			}

			&--vertical {
				flex-direction: column;
			}

			&--padding {
				padding-right: clamp(0px #{calc(100 * 100 / 1920)}vw, 100px);
			}
		}

		&__button,
		&__input {
			max-width: 400px;
		}

		&__button {
			&:hover {
				background: var(--thirdy-alt-color);
			}
		}

		&__text {
			color: var(--primary-color);

			&--red {
				color: var(--link-hover-color);
			}
		}
	}
}
