.person {
	
	@include mobile-l {
		padding: 0;
	}

	&__content-wrapper {
		@include flex-direction;

		background: linear-gradient(89.66deg, #01629d 40.17%, #004875 99.07%);

		max-height: 700px;
		height: 700px;
		padding: 60px 120px;
		position: relative;

		@include tablet {
			max-height: fit-content;
			height: fit-content;
			padding-inline: clamp(25px, #{calc(120 * 100 / 1024)}vw, 120px);
		}
	}

	&__content {
		@include flex-center($gap: 60px);
		align-items: flex-start;

		height: 100%;
		width: 100%;

		z-index: 10;
	}

	&__back-img {
		position: absolute;
		top: 50%;
		left: 50%;
		translate: 0 -50%;

		&::before {
			color: #006aab;
			font-size: clamp(150px, #{calc(500 * 100 / 1920)}vw, 500px);
			z-index: 1;
		}

		@include mobile-l {
			top: 70%;
			left: 25px;
			translate: 0;
		}
	}

	&__title,
	&__text,
	&__button {
		z-index: 10;
	}

	&__title {
		display: flex;
		gap: 30px;

		p {
			font-size: clamp(36px, #{calc(48 * 100 / 1920)}vw, 48px);
			line-height: 1.2;

			@include tablet {
				font-size: clamp(24px, #{calc(36 * 100 / 1024)}vw, 36px);
			}
		}

		& i::before {
			color: var(--thirdy-color);
		}
	}

	&__button {
		font-weight: 700;
		font-size: 18px;
		padding-inline: 36px;

		& i::before {
			font-size: 18px;
		}
	}

	&__text {
		font-size: clamp(26px, #{calc(36 * 100 / 1024)}vw, 36px);
		font-weight: 400;
		line-height: 1.2;

		@include tablet {
			font-size: clamp(18px, #{calc(24 * 100 / 1024)}vw, 24px);
		}
	}

	&__img {
		position: absolute;
		bottom: -75px;
		right: 10px;

		height: 110%;
		object-fit: cover;

		@include tablet {
			position: static;
			translate: 0 100px;
		}
	}
}
