.partners {
	@include flex-direction($gap: 90px);
	overflow: hidden;

	&__title {
	}

	&__content {
	}

	&__container {
		display: grid;
		grid-template: auto / repeat(5, 1fr);
		column-gap: 47px;
		row-gap: 90px;

		@include tablet-l {
            grid-template-columns: repeat(4, 1fr);
			column-gap: 60px;
			row-gap: clamp(20px, #{calc(60 * 100 / 768)}vw, 60px);
		}

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
        }
	}

	&__block {
		@include flex-direction($gap: 20px);
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	&__img {
		filter: grayscale(1);
		width: 240px;

        @include tablet-l {
            width: clamp(100px, #{calc(240 * 100 / 768)}vw, 240px);
        }
	}
}

.partnersSwiper {
  .swiper-wrapper {
    display: flex;
 }
  .swiper-slide {
    height: auto;
 }
}