.person {
	@include mobile-l {
		padding: 0;
		width: auto;
	}

	&__content-wrapper {
		@include flex-direction;

		background: linear-gradient(92.91deg, #004875 -28.34%, #01629d 96.7%);

		max-height: 700px;
		min-height: 640px;
		height: 700px;
		padding: 60px 120px;
		position: relative;

		@include tablet {
			max-height: fit-content;
			height: fit-content;
			padding-inline: clamp(25px, #{calc(120 * 100 / 1024)}vw, 120px);
		}
	}

	&__content {
		@include flex-center($gap: 60px);
		align-items: flex-start;

		height: 100%;
		width: 100%;

		z-index: 10;
	}

	&__back-img {
		position: absolute;
		top: 50%;
		left: 50%;
		translate: -25% -50%;

		&::before {
			color: #006aab;
			font-size: clamp(150px, #{calc(420 * 100 / 1920)}vw, 420px);
			z-index: 1;
		}

		@include mobile-l {
			top: auto;
			bottom: 60px;
			left: 25px;
			translate: 0;
			rotate: -10deg;
		}
	}

	&__title,
	&__text,
	&__button {
		z-index: 10;
	}

	&__title {
		display: flex;
		gap: 30px;

		p {
			font-size: clamp(36px, #{calc(48 * 100 / 1920)}vw, 48px);
			line-height: 1.2;

			@include tablet {
				font-size: clamp(24px, #{calc(36 * 100 / 1024)}vw, 36px);
			}
		}

		& i::before {
			// color: var(--thirdy-color);
		}
	}

	&__button {
		font-weight: 700;
		font-size: 18px;
		padding-inline: 36px;

		i::before {
			font-size: 18px;
		}

		&:hover {
			background: var(--thirdy-color);
			color: var(--thirdy-alt-color);

			i::before {
				color: var(--thirdy-alt-color);
			}
		}

		@include mobile-l {
			width: 100%;
		}
	}

	&__text {
		@include fluid-text(18, 32);
		font-weight: 400;
		line-height: 1.2;
	}

	&__img {
		height: 115%;

		position: absolute;
		right: 0;
		bottom: -120px;

		object-fit: cover;

		@include desktop {
			height: 100%;
		}

		@include desktop-s {
			height: 90%;
		}

		@include tablet-l {
			height: 85%;
		}

		@include tablet {
			height: 80%;
			right: 0;
		}

		@include tablet-s {
			height: 75%;
		}

		@include mobile-l {
			height: 50%;
			bottom: -60px;
		}
	}
}
