.products {
	@include tablet {
		@include flex-direction($gap: 40px);
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 20px;

		margin-bottom: 65px;

		@include tablet {
			margin-bottom: 0;
		}
	}

	&__button {
		padding-inline: 50px;

		@include mobile-l {
			width: 100%;
		}
	}

	&__nav {
		margin-bottom: 82px;

		@include tablet {
			margin-bottom: 0;
		}
	}

	&__categories-list {
		@include flex-direction(row, 25px);

		@include desktop {
			flex-wrap: wrap;
		}
	}

	&__categories-item {
		width: 100%;

		@include desktop {
			max-width: max-content;
		}

		&--active,
		&:hover {
			.products__categories-button {
				background: linear-gradient(90.47deg, #1cabe7 0.38%, #006aab 99.59%);
				border: none;
				color: var(--white-color);
			}
		}
	}

	&__categories-button {
		@include flex-center;

		border: 1px solid rgba(90, 197, 239, 0.5);
		border-radius: $border-radius;

		color: var(--thirdy-color);
		font-size: 20px;

		padding-inline: 35px;

		height: 62px;
		min-width: max-content;
		width: 100%;

		@include mobile-l {
			min-width: fit-content;
		}
	}

	&__content {
	}

	&__title {
		@include fluid-text(18, 36);

		font-weight: 400;
		text-transform: uppercase;

		margin-bottom: 60px;

		@include tablet {
			margin-bottom: 40px;
		}
	}

	&__card,
	.product-card {
		@include flex-direction(row, 110px);

		@include tablet-l {
			flex-wrap: wrap;
		}

		@include tablet {
			gap: 40px;
		}

		&__slider {
			width: 50%;

			@include tablet-l {
				width: 100%;
			}
		}

		&__content {
			@include flex-direction($gap: 60px);

			border-right: 2px solid rgba(90, 197, 239, 0.3);

			padding-right: clamp(10px, #{calc(70 * 100 / 1920)}vw, 70px);
			width: 50%;

			@include tablet-l {
				width: 100%;
			}

			@include tablet {
				border-right: none;
				gap: 40px;
			}
		}

		&__block {
			@include flex-direction($gap: 50px);

			gap: clamp(30px, #{calc(50 * 100 / 1920)}vw, 50px);
		}

		&__subtitle {
			@include fluid-text(18, 32);
			font-weight: 400;
		}

		&__advantages {
			@include flex-direction($gap: 25px);
		}

		&__input-container {
			@include flex-direction(row, 35px);
			gap: clamp(20px, #{calc(35 * 100 / 1920)}vw, 35px);
			align-items: center;
		}

		&__button-container {
			@include flex-direction(row, 20px);
			flex-wrap: wrap;
		}

		&__button {
			@include fluid-property(height, 56, 66);
			font-weight: 700;

			@include mobile-l {
				font-weight: 400;
				width: 100%;
				font-size: 14px;
				width: 100%;
			}

			&:nth-child(1) {
				padding-inline: 50px;

				& i::before {
					color: var(--thirdy-color);
				}
			}

			&:nth-child(2) {
				@include fluid-text(14, 20);

				padding-inline: 16px;
				text-align: left;
				max-width: 300px;

				&:hover {
					background: var(--thirdy-alt-color);
					color: var(--white-color);

					& i::before {
						color: var(--white-color);
					}
				}

				@include mobile-l {
					max-width: 100%;
				}
			}
		}
	}
}
