.statistics {
	@include tablet {
		padding: 0;
	}

	&__content {
		@include flex-direction($gap: 90px);

		background: linear-gradient(89.66deg, #004875 40.17%, #006aab 99.07%),
			url("/assets/img/background/bg-rech.png");

		border-radius: $border-radius-large;
		padding: clamp(50px, #{calc(120 * 100 / 1920)}vw, 120px);

		position: relative;

		@include tablet {
			gap: clamp(44px, #{calc(90 * 100 / 768)}vw, 90px);
		}
	}

	&__img {
		position: absolute;
		top: 28px;
		right: 22px;
	}

	&__container {
		display: grid;
		grid-template: auto / repeat(4, 1fr);
		gap: clamp(28px, #{calc(50 * 100 / 1920)}vw, 50px);
		row-gap: 90px;
		place-items: center;
		z-index: 2;

		@include desktop {
			grid-template: auto / repeat(3, 1fr);
		}

		@include tablet {
			grid-template: auto / repeat(2, 1fr);
			row-gap: clamp(40px, #{calc(90 * 100 / 768)}vw, 90px);
		}

		@include mobile-l {
			place-items: start;
		}
	}

	&__item {
		@include flex-center;
		@include fluid-property(gap, 23, 25);
		justify-content: space-between;
		height: 100%;
		max-width: 235px;

		@include mobile-l {
			justify-content: flex-start;
		}
	}

	&__title {
		font-size: clamp(35px, #{calc(55 * 100 / 1920)}vw, 55px);
		font-weight: 450;
		line-height: 1.2;
		text-align: center;
		width: 100%;
		z-index: 2;

		@include tablet-l {
			font-size: clamp(24px, #{calc(35 * 100 / 1024)}vw, 35px);
		}

		@include mobile-l {
			text-align: left;
		}
	}

	&__text {
		font-size: clamp(18px, #{calc(20 * 100 / 1920)}vw, 20px);
		font-weight: 400;
		line-height: 1.2;
		text-align: center;

		@include tablet-l {
			font-size: clamp(14px, #{calc(18 * 100 / 1024)}vw, 18px);
		}

		@include mobile-l {
			text-align: left;
		}
	}
}
