.career-director {
    @include flex-direction;
    @include fluid-property(gap, 40, 80);
    margin-bottom: -120px;

    @include tablet-l {
        margin-bottom: 0;
    }

    &__main {
        align-items: flex-start;
    }

    &__text {
        @include fluid-text(18, 26);

        &--small {
            @include fluid-text(16, 18);
        }
    }

    &__span {
        @include fluid-text(14, 20);
    }
}