.career-job {
	&__content {
		background: linear-gradient(89.66deg, #01629d 40.17%, #004875 99.07%);
		gap: 30px;
		position: relative;
	}

	&__img {
		mask-image: linear-gradient(-45deg, #01629D 0%, rgba(0, 0, 0, 0) 100%);
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__title,
	&__span,
	&__button-container {
		z-index: 2;
	}

	&__title {
		@include fluid-text(20, 32);
		color: var(--white-color);
	}

	&__span {
		@include fluid-text(18, 24);
	}

	&__button-container {
		@include fluid-property(gap, 12, 40);
		flex-wrap: wrap;
		margin-top: 10px;

		@include tablet-l {
			gap: 12px;
		}
	}

	&__send-button {
		@include fluid-property(padding-inline, 32, 85);
	}
}
