.career-reasons {
	@include fluid-property(padding-top, 60, 120);
	@include fluid-property(padding-bottom, 0, 160);
    @include fluid-property(gap, 40, 60);

	@include mobile-l {
		padding: 0;
		padding-bottom: 20px;
	}

	&__wrapper {
		background-color: var(--primary-alt-color);
		overflow: hidden;

		@include mobile-l {
			background-color: transparent;
		}
	}

	&__card-container {
		@include grid(auto, repeat(3, 1fr), 40px);

		@include desktop {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__slider {
		max-width: 85vw;
	}
}
