.eng-director {
    margin-bottom: 0;

    @include mobile-l {
        margin-bottom: 0;
    }

    &__content {
        margin-bottom: 0;
    }

    &__img {
        scale: 1.1;

        @include tablet-l {
            scale: 1;
            translate: 0 25px;
            width: 80%;
        }
    }
}