.partners-factors {
    @include fluid-property(gap, 40, 60);
    @include fluid-property(padding-block, 60, 120);
    overflow: visible;

    &__wrapper {
        background-color: var(--primary-alt-color);
        overflow: hidden;
    }

    &__title {
        line-height: 1;
    }
}