$desktop-l: 1920px;
$desktop: 1440px;
$desktop-s: 1280px;

$tablet-l: 1024px;
$tablet: 768px;
$tablet-s: 640px;

$mobile-l: 480px;
$mobile: 320px;
$mobile-s: 240px;

@mixin desktop-l-above {
    @media (min-width: $desktop-l) {
        @content;
    }
}

@mixin desktop-l {
    @media (max-width: $desktop-l) {
        @content;
    }
}

@mixin desktop-above {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: $desktop) {
        @content;
    }
}

@mixin desktop-s-above {
    @media (min-width: $desktop-s) {
        @content;
    }
}

@mixin desktop-s {
    @media (max-width: $desktop-s) {
        @content;
    }
}

@mixin tablet-l-above {
    @media (min-width: $tablet-l) {
        @content;
    }
}

@mixin tablet-l {
    @media (max-width: $tablet-l) {
        @content;
    }
}

@mixin tablet-above {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $tablet) {
        @content;
    }
}

@mixin tablet-s-above {
    @media (min-width: $tablet-s) {
        @content;
    }
}

@mixin tablet-s {
    @media (max-width: $tablet-s) {
        @content;
    }
}

@mixin mobile-l-above {
    @media (min-width: $mobile-l) {
        @content;
    }
}

@mixin mobile-l {
    @media (max-width: $mobile-l) {
        @content;
    }
}

@mixin mobile-above {
    @media (min-width: $mobile) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin mobile-s-above {
    @media (min-width: $mobile-s) {
        @content;
    }
}

@mixin mobile-s {
    @media (max-width: $mobile-s) {
        @content;
    }
}