@mixin flex-center($direction: column, $gap: 0) {
	display: flex;
	justify-content: center;
	align-items: center;
	@include flex-direction($direction, $gap);
}

@mixin flex-direction($direction: column, $gap: 0) {
	display: flex;
	flex-direction: $direction;
	gap: $gap;
}

@mixin visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

@mixin container {
	width: clamp(300px, #{calc(1540 * 100 / 1920)}vw, 1540px);
	max-width: 1540px;
	margin: 0 auto;
}

@mixin container-padding {
	padding-inline: clamp(50px, #{calc(192 * 100 / 1920) - 3}vw, 192px);
}

@mixin section-border-radius {
	@include fluid-property(border-radius, 20, 60);
}

@mixin fluid-text($min, $max) {
	font-size: #{$max}px;

	@include tablet {
		font-size: clamp(#{$min}px, #{calc($max * 100 / 768)}vw, #{$max}px);
	}

	@include mobile-l {
		font-size: #{$min}px;
	}
}

@mixin fluid-scales($min-width, $max-width, $min-height, $max-height) {
	width: #{$max-width}px;
	height: #{$max-height}px;

	min-width: #{$max-width}px;
	min-height: #{$max-height}px;

	@include tablet {
		width: clamp(#{$min-width}px, #{calc($max-width * 100 / 768)}vw, #{$max-width}px);
		height: clamp(#{$min-height}px, #{calc($max-height * 100 / 768)}vw, #{$max-height}px);

		min-width: clamp(#{$min-width}px, #{calc($max-width * 100 / 768)}vw, #{$max-width}px);
		min-height: clamp(#{$min-height}px, #{calc($max-height * 100 / 768)}vw, #{$max-height}px);
	}

	@include mobile-l {
		width: #{$min-width}px;
		height: #{$min-height}px;

		min-width: #{$min-width}px;
		min-height: #{$min-height}px;
	}
}

@mixin fluid-scales($min, $max) {
	width: #{$max}px;
	height: #{$max}px;

	min-width: #{$max}px;
	min-height: #{$max}px;

	max-width: #{$max}px;
	max-height: #{$max}px;

	@include tablet {
		width: clamp(#{$min}px, #{calc($max * 100 / 768)}vw, #{$max}px);
		height: clamp(#{$min}px, #{calc($max * 100 / 768)}vw, #{$max}px);

		min-width: clamp(#{$min}px, #{calc($max * 100 / 768)}vw, #{$max}px);
		min-height: clamp(#{$min}px, #{calc($max * 100 / 768)}vw, #{$max}px);

		max-width: clamp(#{$min}px, #{calc($max * 100 / 768)}vw, #{$max}px);
		max-height: clamp(#{$min}px, #{calc($max * 100 / 768)}vw, #{$max}px);
	}

	@include mobile-l {
		width: #{$min}px;
		height: #{$min}px;

		min-width: #{$min}px;
		min-height: #{$min}px;

		max-width: #{$min}px;
		max-height: #{$min}px;
	}
}

@mixin fluid-property($property, $min, $max) {
	#{$property}: #{$max}px;

	@include tablet {
		#{$property}: clamp(#{$min}px, #{calc($max * 100 / 768)}vw, #{$max}px);
	}

	@include mobile-l {
		#{$property}: #{$min}px;
	}
}

@mixin adaptive-property($property, $min, $max) {
	#{$property}: clamp(#{$min}px, #{calc($max * 100 / 1920)}vw, #{$max}px);
}

@mixin grid($rows, $columns, $gap) {
	display: grid;
	grid-template: $rows / $columns;
	gap: $gap;
}

@mixin scrollbar(
	$width: 10px,
	$height: 10px,
	$bg-thumb-color: #edf2fa,
	$border-radius: 5px,
	$bg-track-color: transparent
) {
	&::-webkit-scrollbar {
		width: $width;
		height: $height;
	}

	&::-webkit-scrollbar-thumb {
		background: $bg-thumb-color;
		border-radius: $border-radius;
	}

	&::-webkit-scrollbar-track {
		background-color: $bg-track-color;
	}

	// &::-webkit-scrollbar-button {
	// background-color: #4d7fff;
	// border-radius: 5px;
	// }

	// &::-webkit-scrollbar-button:hover {
	// 	background-color: #999999;
	// }
}

@mixin hidden {
	visibility: collapse !important;
	opacity: 0 !important;
	transition-duration: 0.3s;
}

@mixin visible {
	visibility: visible !important;
	opacity: 1 !important;
	transition-duration: 0.3s;
}
