@mixin flex-center($direction: column, $gap: 0) {
    display: flex;
    justify-content: center;
    align-items: center;
    @include flex-direction($direction, $gap);
}

@mixin flex-direction($direction: column, $gap: 0) {
    display: flex;
    flex-direction: $direction;
    gap: $gap;
}