*,
*:after,
*:before {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul[class],
ol[class] {
    list-style: none;
	padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	background-color: inherit;
	font: inherit;
	color: inherit;
	outline: none;
	border: none;
}

button {
	cursor: pointer;
}

a {
	text-decoration: none;
}
