.container {
	padding-inline: clamp(50px, #{calc(192 * 100 / 1920)}vw, 192px);
}

.hidden-desktop-s {
	@include desktop-s {
		@include visually-hidden;
	}
}

.visible-desktop-s {
	@include desktop-s-above {
		@include visually-hidden;
	}
}

.hidden-tablet-l {
	@include tablet-l {
		@include visually-hidden;
	}
}

.visible-tablet-l {
	@include tablet-l-above {
		@include visually-hidden;
	}
}

.hidden-tablet {
	@include tablet {
		@include visually-hidden;
	}
}

.visible-tablet {
	@include tablet-above {
		@include visually-hidden;
	}
}

.hidden-tablet-s {
	@include tablet-s {
		@include visually-hidden;
	}
}

.visible-tablet-s {
	@include tablet-s-above {
		@include visually-hidden;
	}
}

.hidden-mobile-l {
	@include mobile-l {
        @include visually-hidden;
    }
}

.visible-mobile-l {
	@include mobile-l-above {
		@include visually-hidden;
	}
}

.section-border-radius {
	border-radius: $border-radius-very-large;
}

.blue {
	color: var(--thirdy-color);
}

.dark-blue {
	color: var(--thirdy-alt-color);
}

.red {
	color: var(--link-hover-color);
}