@import "reset", "fonts", "variables", "mixins", "media", "utils", "global", "uikit";

@import "ui/button", "ui/input", "ui/checkbox", "ui/slider", "ui/select", "ui/title", "ui/fancybox",
	"ui/modal", "ui/input-checkbox", "ui/info-icon";

@import "sections/header", "sections/main", "sections/footer", "sections/actions",
	"sections/services", "sections/thanks";

@import "sections/home/about", "sections/home/statistics", "sections/home/products",
	"sections/home/map", "sections/home/projects", "sections/home/advantages",
	"sections/home/employees", "sections/home/partners", "sections/home/person",
	"sections/home/solutions";

@import "sections/about-production/main", "sections/about-production/about",
	"sections/about-production/director", "sections/about-production/history",
	"sections/about-production/solutions", "sections/about-production/team",
	"sections/about-production/map", "sections/about-production/complex",
	"sections/about-production/docs", "sections/about-production/politics",
	"sections/about-production/footer";

@import "sections/documentation/about", "sections/documentation/documents";

@import "sections/contacts/contacts-main", "sections/contacts/about", "sections/contacts/background",
	"sections/contacts/info", "sections/contacts/details";

@import "sections/catalog/about", "sections/catalog/products", "sections/catalog/album";

.link-container {
	@include flex-direction($gap: 15px);

	font-size: 25px;
	padding: 25px;

	a {
		color: var(--white-color);
		border: none;
		width: fit-content;

		&:hover {
			color: var(--link-hover-color);
		}
	}
}
